.footer {
  padding: 60px 0;
  background: var(--white);

  @include tablet {
    padding: 20px 0;
  }

  &__content {
    display: flex;
    position: relative;
    margin-bottom: 15px;
    align-items: flex-start;

    @include tablet {
      flex-direction: column;
      gap: 25px;
      margin-bottom: 30px;
    }
  }

  &__box {
    margin-right: 45px;
  }

  &__nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 90px;

    @include small-tablet {
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;
    }

  }

  &__list {
    display: flex;
    flex-direction: column;

    &:nth-child(2) {
      grid-row: 2 span;
    }
  }

  &__contacts {
    margin-left: auto;
    max-width: 637px;
    width: 100%;
    border-radius: 16px;
    padding: 32px;
    background: var(--primary-5o);
    background-image: url(../img/footer-bg.svg);
    background-repeat: no-repeat;
    background-position: right top;
  }

  &__name {
    margin: 0;
    margin-bottom: 12px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: var(--gray---9o);
  }

  &__link {
    display: block;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--gray---7o);
    transition: all .3s ease-in-out;

    &:not(:last-child) {
      margin-bottom: 6px;
    }

    &:hover {
      color: var(--secondary-7o);
    }
  }

  &__logo {
    display: block;
    margin-bottom: 12px;
  }

  &__copirate {
    margin: 0;
    margin-bottom: 12px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: var(--gray---7o);
  }

  &__politic {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: var(--gray---7o);
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 24px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: var(--gray-04);
  }

  &__phone {
    display: block;
    margin-bottom: 4px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: var(--white);
  }

  &__mail {
    display: block;
    margin-bottom: 4px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: var(--white);
  }

  &__address {
    margin: 0;
    margin-bottom: 24px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: var(--white);
  }

  &__time {
    margin: 0;
    margin-bottom: 24px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: var(--white);
  }

  &__btns {
    display: flex;
    gap: 16px;

    @include tablet {
      flex-direction: column;
    }
  }

  &__socials {
    display: flex;
    gap: 10px;
  }

  &__social {
    opacity: 1;
    transition: all .3s ease-in-out;

    &:hover {
      opacity: .6;
    }
  }

  &__btn {
    display: block;
    max-width: 200px;
    width: 100%;
    border-radius: 8px;
    padding: 9px 16px 9px 16px;
    background: var(--white);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: var(--primary-5o);
    transition: all .3s ease-in-out;

    @include tablet {
      max-width: 200px;
    }

    &:hover {
      background: var(--primary---1o);
    }
  }

  &__text {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: var(--gray---8o);
  }
}
