.form {
  margin-bottom: 100px;

  @include tablet {
    background: #FFF;
    margin-bottom: 60px;
    border-radius: 16px;
  }

  &__wrapper {
    border-radius: 16px;
    background: var(--white-50);
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    .image {
      @include tablet {
        display: none;
      }
    }
  }

  &__content {
    position: relative;
    max-width: 770px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    @include tablet {
      padding: 20px 0;
    }

    &::before {
      content: '';
      position: absolute;
      width: 70px;
      height: 90px;
      left: 10px;
      top: 5px;
      background-image: url(../img/form-bg-1.webp);

      @include tablet {
        display: none;
      }
    }

    &::after {
      content: '';
      position: absolute;
      width: 160px;
      height: 217px;
      right: -5px;
      bottom: 0px;
      background-image: url(../img/form-bg-2.webp);

      @include tablet {
        display: none;
      }
    }


  }

  &__subtitle {
    margin: 0;
    margin-bottom: 13px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
    color: #000;

    &--two {
      max-width: 700px;

      @include tablet {
        font-size: 24px;
      }
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 36px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: var(--gray---7o);

    &--two {
      max-width: 700px;


    }
  }

  &__input {
    max-width: 456px;
    width: 100%;
    border: 1px solid var(--gray---6o);
    border-radius: 12px;
    padding: 20px 24px 20px 52px;
    background: var(--white);

    &--two {
      max-width: 535px;
    }
  }

  &__btn {
    max-width: 456px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: var(--white);
  }

  &__descr {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: var(--gray---7o);
  }

  &__link {
    color: var(--primary-5o);
  }

  &__form {
    max-width: 456px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &--two {
      max-width: 535px;
    }
  }

  &__name {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 18px;
      height: 19px;
      left: 24px;
      top: 20px;
      background-image: url(../img/name.svg);
    }
  }

  &__phone {
    position: relative;
    margin-bottom: 15px;

    &::before {
      content: '';
      position: absolute;
      width: 18px;
      height: 19px;
      left: 24px;
      top: 20px;
      background-image: url(../img/tel-2.svg);
    }

    &::after {
      content: '*Поле обязательно для заполнения';
      position: absolute;
      bottom: -20px;
      left: 0;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      color: var(--error---40);
    }
  }

  &__btn {
    &--two {
      max-width: 529px;
    }
  }
}
