.nav {
  @include tablet {
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 36px;
    }

    &:hover {
      .nav__sublist {
        visibility: visible;
        opacity: 1;
      }

      .nav__link {
        color: var(--secondary-7o);
      }

      .nav__svg {
        fill: var(--secondary-7o);

      }

      svg {
        transition: all .3s ease-in-out;
        transform: rotate(180deg);
      }
    }


  }

  svg {
    transition: all .3s ease-in-out;
  }

  &__link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--gray-10o);
    transition: all .3s ease-in-out;
    height: 100px;
    &--accent {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    &:hover {
      color: var(--secondary-7o);
    }

    &:active {
      color: var(--secondary-7o);
    }
  }

  &__sublist {
    position: absolute;
    left: 0;
    top: 115px;
    width: 200px;

    background-color: var(--header);
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
    z-index: 10;
    box-shadow: -1px 5px 22px -15px;
    border-radius: 10px;
  }

  &__sublink {
    display: block;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--gray---9o);
    transition: all .3s ease-in-out;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:hover {
      color: var(--secondary-7o);
    }

    &:active {
      color: var(--secondary-7o);
    }
  }

  &__svg {
    width: 10px;
    height: 6px;
    fill: #4D4D4D;
    transition: all .3s ease-in-out;

  }
}
