.packages {
  margin-bottom: 120px;


  &__content {
    border-radius: 16px;
    padding: 24px;
    background: var(--white);

    @include tablet {
      padding: 15px 5px;
      background: var(--gray-04);
    }

    &--brus {
      .packages__line {
        grid-template-columns: 0.7fr repeat(2, 1fr);

        @include tablet {
          grid-template-columns: repeat(1, 1fr) 0.4fr 0.4fr;

          &:nth-child(1) {
            .packages__text {
              color: #FFF;

              @include tablet {
                writing-mode: vertical-rl;
                text-orientation: mixed;
                transform: rotate(180deg);
                max-height: 130px;
                text-align: left;
                font-size: 14px;
                height: 100%;
              }
            }

            .packages__title {

              @include tablet {
                max-height: 130px;

              }
            }
          }


        }



        &:nth-child(4) {
          .packages__col {
            &:last-child {
              grid-column: 2 span;
            }
          }
        }

        &:nth-child(5) {
          .packages__col {
            &:last-child {
              grid-column: 2 span;
            }
          }
        }
      }

      .packages__btn {
        max-width: 488px;

        @include tablet {
          max-width: 24px;
          height: 24px;
        }
      }
    }
  }

  &__btn {
    @include tablet {
      max-width: 24px;
      height: 24px;
      font-size: 0;
      padding: 0;
      background-image: url(../img/pac-link.svg);
      border-radius: 50px;
    }
  }

  &__line {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px 24px;
    border-radius: 16px;

    @include tablet {
      grid-template-columns: repeat(1, 1fr) 0.4fr 0.4fr 0.4fr;
      padding: 10px 8px;
      background: var(--white);
    }

    &:nth-child(1) {
      background: var(--primary---8o);
      margin-bottom: 20px;

      .packages__text {
        color: #FFF;

        @include tablet {
          writing-mode: vertical-rl;
          text-orientation: mixed;
          transform: rotate(180deg);
          max-height: 150px;
          text-align: left;
          font-size: 14px;
          height: 100%;
        }
      }

      @include tablet {
        height: auto;
      }
    }

    &:nth-child(2) {
      background: var(--white);
    }



    &:nth-child(4) {
      .packages__col {
        &:last-child {
          grid-column: 3 span;
        }
      }
    }

    &:nth-child(5) {
      .packages__col {
        &:last-child {
          grid-column: 3 span;
        }
      }
    }

    &--blue {
      background: var(--gray-04);

    }

    &--accent {
      margin-top: 20px;
      background: var(--primary-3o);

      .packages__subtitle {
        font-weight: 600;
      }

      @include tablet {
        .packages__col {
          &:first-child {
            grid-column: 3 span;
          }
        }
      }
    }
  }

  &__col {
    display: flex;
    justify-content: center;
    align-items: center;

    &:nth-child(1) {
      justify-content: flex-start;

    }
  }

  &__title {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: var(--white);

    @include tablet {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      transform: rotate(180deg);
      max-height: 178px;
      text-align: left;
      font-size: 14px;
      max-height: 150px;
    }
  }

  &__subtitle {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: var(--gray---9o);

    @include tablet {
      font-size: 14px;
      line-height: 120%;
    }
  }

  &__text {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000;
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    border-radius: 24px;

    @include tablet {
      grid-template-columns: repeat(1, 1fr);
      gap: 12px;
    }

    .image {
      border-radius: 24px;
    }
  }

  .tabs {

    &__nav {
      display: flex;
      margin-bottom: 36px;
      gap: 10px;
    }

    &__nav-btn {
      padding: 11px 16px 11px 16px;
      border-radius: 8px;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      color: var(--gray---7o);
      transition: all .3s ease-in-out;

      &--active {
        background: var(--primary-5o);
        color: #FFF;
      }

      &:hover {
        color: var(--white);
        background: var(--primary-5o);
      }

      &:active {
        color: var(--white);
        background: var(--primary-5o);
      }

      &:focus {
        color: var(--white);
        background: var(--primary-5o);
      }
    }
  }
}
