<div class="about">
  <div class="container">
    <div class="about__content">
      <div class="about__left">
        <p class="about__subtitle">
          Компания «Строй Лидер 53»
        </p>
        <p class="about__text">
          Компания «Строй Лидер 53» специализируется на строительстве домов, бань из дерева «под ключ» и является
          известной
          организацией в Великом Новгороде, а также за его пределами. В строительной сфере мы заняты 10 лет и за это
          время сумели
          воплотить в реальность более 400 проектов.
        </p>
        <p class="about__text">
          Загородное возведение домов находится на пике популярности, позволяет сооружать объекты различной конфигурации, которые
          впечатляют своими размерами и используемыми расходными материалами. Строительство домов из бруса занимает лидирующие
          позиции. Это неудивительно, ведь брус обладает не только полезными потребительскими свойствами, но и отменными
          эксплуатационными характеристиками, а также придает готовому строению эстетически привлекательный внешний вид
        </p>

        <p class="about__text">
          Опытные специалисты, которые работают в нашей компании, готовы приступить к выполнению задания любой сложности вне
          зависимости от сезона и воплотить вашу мечту в реальность.
        </p>
      </div>
      <div class="about__right">
        <picture>
          <source srcset="img/about.webp" type="image/webp">
          <img loading="lazy" src="img/about.png" class="image" width="747" height="406" alt="img">
        </picture>
        <ul class="list-reset about__list">
          <li class="about__item">
            <p class="about__name">5 лет</p>
            <p class="about__descr">
              Лучшая гарантия
            </p>
          </li>
          <li class="about__item">
            <p class="about__name">400+</p>
            <p class="about__descr">
              Домов построено
            </p>
          </li>
          <li class="about__item">
            <p class="about__name">2005</p>
            <p class="about__descr">
              Строим как для себя
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="about__wrapper">
      <button class="btn-reset about__arrow-left"></button>
      <button class="btn-reset about__arrow-right"></button>
      <div class="swiper about__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source srcset="img/about-1.webp" type="image/webp">
              <img loading="lazy" src="img/about-1.png" class="image" width="490" height="362" alt="img">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="img/about-1.webp" type="image/webp">
              <img loading="lazy" src="img/about-1.png" class="image" width="490" height="362" alt="img">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="img/about-1.webp" type="image/webp">
              <img loading="lazy" src="img/about-1.png" class="image" width="490" height="362" alt="img">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="img/about-1.webp" type="image/webp">
              <img loading="lazy" src="img/about-1.png" class="image" width="490" height="362" alt="img">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="img/about-1.webp" type="image/webp">
              <img loading="lazy" src="img/about-1.png" class="image" width="490" height="362" alt="img">
            </picture>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
