<div class="articles">
  <div class="container">
    <div class="articles__grid">
      <div class="articles__item">
        <picture>
          <source srcset="img/articles.webp" type="image/webp">
          <img loading="lazy" src="img/articles.png" class="image" width="361" height="221" alt="img">
        </picture>
        <div class="articles__inner">
          <p class="articles__name">
            Название статьи Название статьи Название статьи Название статьи
          </p>
          <p class="articles__text">
            Проект «Проект» основан на базовых принципах минимализма: функциональные...
          </p>
          <span class="articles__time">
            Дата
          </span>
        </div>
      </div>
      <div class="articles__item">
        <picture>
          <source srcset="img/articles.webp" type="image/webp">
          <img loading="lazy" src="img/articles.png" class="image" width="361" height="221" alt="img">
        </picture>
        <div class="articles__inner">
          <p class="articles__name">
            Название статьи Название статьи Название статьи Название статьи
          </p>
          <p class="articles__text">
            Проект «Проект» основан на базовых принципах минимализма: функциональные...
          </p>
          <span class="articles__time">
            Дата
          </span>
        </div>
      </div>
      <div class="articles__item">
        <picture>
          <source srcset="img/articles.webp" type="image/webp">
          <img loading="lazy" src="img/articles.png" class="image" width="361" height="221" alt="img">
        </picture>
        <div class="articles__inner">
          <p class="articles__name">
            Название статьи Название статьи Название статьи Название статьи
          </p>
          <p class="articles__text">
            Проект «Проект» основан на базовых принципах минимализма: функциональные...
          </p>
          <span class="articles__time">
            Дата
          </span>
        </div>
      </div>
      <div class="articles__item">
        <picture>
          <source srcset="img/articles.webp" type="image/webp">
          <img loading="lazy" src="img/articles.png" class="image" width="361" height="221" alt="img">
        </picture>
        <div class="articles__inner">
          <p class="articles__name">
            Название статьи Название статьи Название статьи Название статьи
          </p>
          <p class="articles__text">
            Проект «Проект» основан на базовых принципах минимализма: функциональные...
          </p>
          <span class="articles__time">
            Дата
          </span>
        </div>
      </div>
      <div class="articles__item">
        <picture>
          <source srcset="img/articles.webp" type="image/webp">
          <img loading="lazy" src="img/articles.png" class="image" width="361" height="221" alt="img">
        </picture>
        <div class="articles__inner">
          <p class="articles__name">
            Название статьи Название статьи Название статьи Название статьи
          </p>
          <p class="articles__text">
            Проект «Проект» основан на базовых принципах минимализма: функциональные...
          </p>
          <span class="articles__time">
            Дата
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
