<section class="capital">
  <div class="container">
    <h2 class="capital__title">
      Можно ли купить загородный дом на маткапитал?
    </h2>
    <p class="capital__text">
      Раньше средства маткапитала можно было потратить только на покупку, строительство или реконструкцию дома на
      землях,
      которые предназначены для индивидуального жилищного строительства (ИЖС). Но с 2020 года у россиян появилась
      возможность
      направить сертификат и на покупку дома в садово-некоммерческом товариществе (СНТ).
    </p>
    <p class="capital__text">
      Потратить маткапитал на покупку дачи можно по общему правилу — когда ребенку исполнится три года. Исключение —
      выплата
      первоначального взноса или погашение ипотеки. В этом случае воспользоваться маткапиталом можно сразу после
      рождения или
      усыновления ребенка.
    </p>
    <h2 class="capital__title">
      Сумма маткапитала в 2024 году
    </h2>
    <p class="capital__text">
      В 2024 году сумма материнского капитала при рождении первенца составила 631 тыс. руб., а при рождении второго
      ребенка —
      834 тыс. руб. Если родители уже получали маткапитал на первого ребенка, то размер выплаты на второго будет 203
      тыс. руб.
    </p>
    <p class="capital__text">
      С 1 января 2024 года на маткапитал могут рассчитывать только лица, которые имеют гражданство России на момент
      рождения
      ребенка. Кроме того, ребенок тоже должен являться гражданином России, причем по рождению. Исключения сделаны для
      жителей
      новых регионов: им маткапитал будет выплачиваться независимо от сроков приобретения российского гражданства и его
      основания.
    </p>
    <p class="capital__text">
      Еще одно важное условие при покупке любого объекта недвижимости — выделение детских долей. Дом, построенный или
      купленный с использованием маткапитала, обязательно должен быть оформлен в общую долевую собственность обоих
      супругов и
      всех детей, напомнил партнер консалтинговой компании Vassian Сергей Попов. «Размер долей и алгоритм расчета в
      законе не
      оговариваются, на практике детям обычно выделяют доли, пропорциональные их части материнского капитала»
    </p>
    <p class="capital__text">
      Выделить доли следует в течение шести месяцев, которые исчисляются в зависимости от способа приобретения
      недвижимости.
      Например, при покупке готового дома отсчет идет от даты перечисления Пенсионным фондом средств продавцу по
      договору
      купли-продажи. А в случае покупки с использованием ипотеки — от момента снятия обременения с жилого помещения, то
      есть
      погашения кредита.
    </p>
    <h2 class="capital__title">
      Какой должен быть загородный дом?
    </h2>
    <p class="capital__text">
      Сам дачный дом должен быть пригодным для постоянного проживания, чтобы в нем можно было прописаться. Кроме того,
      такое
      строение должно соответствовать ряду требований, установленных градостроительными нормами. А именно:
    </p>
    <ul class="list-reset capital__list">
      <li class="capital__item">
        <img loading="lazy" src="img/capital-1.svg" class="image" width="80" height="80" alt="img">
        <p class="capital__text">
          Дом должен быть отдельно стоящим зданием, а не пристройкой к другому объекту, и состоять из комнат, в том
          числе
          предназначенных для бытовых нужд (санузел, кухня и т. д.);
        </p>
      </li>
      <li class="capital__item">
        <img loading="lazy" src="img/capital-2.svg" class="image" width="80" height="80" alt="img">
        <p class="capital__text">
          У дома должны быть крепкий фундамент, несущие стены и крыша, водоотведение, отопление, электричество — все
          признаки
          капитального жилого дома, который подходит для круглогодичного проживания;
        </p>
      </li>
      <li class="capital__item">
        <img loading="lazy" src="img/capital-3.svg" class="image" width="80" height="80" alt="img">
        <p class="capital__text">
          Он должен быть высотой не более 20 м или не более трех этажей отдельных элементов конструкции
        </p>
      </li>
    </ul>
    <h2 class="capital__title">
      Как использовать маткапитал на покупку загородного дома?
    </h2>
    <p class="capital__text">
      В целом сама процедура использования маткапитала на покупку дачи не отличается от покупки другого объекта недвижимости.
      Руководитель департамента контроля качества Amulex.ru при покупке дачи с маткапиталом рекомендует придерживаться
      следующего алгоритма действий:
    </p>
    <ul class="list-reset capital__list">
      <li class="capital__item">
        <p class="capital__count">01</p>
        <p class="capital__text">
          Определиться с выбором дачи и получить консультацию в Пенсионном фонде. «Поскольку жилой дом обладает множеством
          индивидуальных особенностей, во избежание отказа в перечислении продавцу средств маткапитала рекомендуем предварительно
          посетить орган ПФР и поговорить о перспективах сделки с сотрудником Фонда
        </p>
      </li>
      <li class="capital__item">
        <p class="capital__count">02</p>
        <p class="capital__text">
          Получить от продавца документы на приобретаемый объект (земельный участок и дом) для анализа законности будущей сделки
        </p>
      </li>
      <li class="capital__item">
        <p class="capital__count">03</p>
        <p class="capital__text">
          Анализ грунта
          Заключить договор купли-продажи жилого дома и земельного участка. В некоторых случаях подлежит обязательному
          нотариальному удостоверению (если, например, одним из продавцов является несовершеннолетний). В договоре указывается,
          что объект приобретается на средства в том числе маткапитала
        </p>
      </li>
    </ul>
    <ul class="list-reset capital__list">
      <li class="capital__item">
        <p class="capital__count">04</p>
        <p class="capital__text">
          Зарегистрировать переход права собственности на основании договора в Росреестре
        </p>
      </li>
      <li class="capital__item">
        <p class="capital__count">05</p>
        <p class="capital__text">
          Обратиться в территориальный орган ПФР с заявлением о распоряжении маткапиталом и пакетом документов. Сделать это можно
          как удаленно (по почте, через портал госуслуг или сайт ПФР), так и лично в МФЦ или территориальном органе ПФР (в этом
          случае понадобятся оригиналы всех документов)
        </p>
      </li>
      <li class="capital__item">
        <p class="capital__count">06</p>
        <p class="capital__text">
          В течение десяти рабочих дней заявление должно быть рассмотрено. Данный срок может быть увеличен до 20 рабочих дней в
          случае неполного пакета документов. Если заявление удовлетворено, денежные средства перечисляются на счет продавца в
          течение пяти рабочих дней со дня принятия решения
        </p>
      </li>
    </ul>
    <h2 class="capital__title">
      Если дача покупается в ипотеку
    </h2>
    <p class="capital__text">
      Дачу можно купить и в ипотеку, направив средства маткапитала на уплату первого взноса или на погашение кредита. В схеме
      появляется еще один участник — банк, предоставляющий кредит, порядок действий несколько усложняется.
    </p>
    <p class="capital__text">
      В данном случае первым шагом покупателя будет подбор банка, в который необходимо предоставить не только документы по
      персональным данным, подтверждающие кредитоспособность, но и выписки из лицевого счета покупателя, подтверждающие размер
      неиспользованного маткапитала. <br> После получения предварительного одобрения кредита документ об этом направляется в
      Пенсионный фонд. По желанию покупателя банк сам может направить заявление о распоряжении маткапиталом в ПФР. <br> После
      оформления кредитного договора, договора купли-продажи и регистрации перехода права документы направляются в Пенсионный
      фонд, который по заявлению покупателя выносит решение о направлении средств маткапитала на погашение ипотеки.
    </p>

  </div>
</section>
