<section class="catalog-title">
  <div class="container">
    <div class="catalog-title__content">
      <div class="catalog-title__box">
        <h1 class="catalog-title__title">
          Проекты домов из бруса
        </h1>
        <button class="btn-reset btn catalog-title__btn" data-graph-path="modal2">Рассчитайте стоимость дома</button>
      </div>
      <div class="catalog-title__inner">
        <div class="catalog-title__item">
          <p class="catalog-title__count">
            400+
          </p>
          <p class="catalog-title__text">Домов построено нашей компанией</p>
        </div>
        <div class="catalog-title__item">
          <p class="catalog-title__count">
            20+
          </p>
          <p class="catalog-title__text">Лет наша компания успешно строит дома, в которых хочется жить</p>
        </div>
      </div>
    </div>
  </div>
</section>
