<div class="catalog">
  <div class="container">
    <div class="catalog__tab">
      <button class="btn-reset catalog__tab-btn">Показать все</button>
      <button class="btn-reset catalog__tab-btn">Одноэтажные</button>
      <button class="btn-reset catalog__tab-btn">С мансардой</button>
      <button class="btn-reset catalog__tab-btn">Двухэтажные</button>
    </div>
    <div class="catalog__content">
      <div class="catalog__aside">

      </div>
      <div class="catalog__grid">
        <div class="catalog__item">
          <span class="catalog__subspecial">
            Спецпредложение
          </span>
          <picture>
            <source srcset="img/catalog-1.webp" type="image/webp">
            <img loading="lazy" src="img/catalog-1.png" class="image" width="362" height="210" alt="img">
          </picture>
          <div class="catalog__inner">
            <p class="catalog__subname">
              Дом из бруса 12х15 ДБ-12
            </p>
            <p class="catalog__subprice">
              от 5 474 000 ₽
            </p>
            <ul class="list-reset catalog__sublist">
              <li class="catalog__subitem">
                Площадь: 141м2
              </li>
              <li class="catalog__subitem">
                Размеры: 12х15м
              </li>
              <li class="catalog__subitem">
                Этажность: 3
              </li>
              <li class="catalog__subitem">
                Спален: 3
              </li>
            </ul>
          </div>
        </div>
        <div class="catalog__item">
          <span class="catalog__subspecial">
            Спецпредложение
          </span>
          <picture>
            <source srcset="img/catalog-1.webp" type="image/webp">
            <img loading="lazy" src="img/catalog-1.png" class="image" width="362" height="210" alt="img">
          </picture>
          <div class="catalog__inner">
            <p class="catalog__subname">
              Дом из бруса 12х15 ДБ-12
            </p>
            <p class="catalog__subprice">
              от 5 474 000 ₽
            </p>
            <ul class="list-reset catalog__sublist">
              <li class="catalog__subitem">
                Площадь: 141м2
              </li>
              <li class="catalog__subitem">
                Размеры: 12х15м
              </li>
              <li class="catalog__subitem">
                Этажность: 3
              </li>
              <li class="catalog__subitem">
                Спален: 3
              </li>
            </ul>
          </div>
        </div>
        <div class="catalog__item">
          <span class="catalog__subspecial">
            Спецпредложение
          </span>
          <picture>
            <source srcset="img/catalog-1.webp" type="image/webp">
            <img loading="lazy" src="img/catalog-1.png" class="image" width="362" height="210" alt="img">
          </picture>
          <div class="catalog__inner">
            <p class="catalog__subname">
              Дом из бруса 12х15 ДБ-12
            </p>
            <p class="catalog__subprice">
              от 5 474 000 ₽
            </p>
            <ul class="list-reset catalog__sublist">
              <li class="catalog__subitem">
                Площадь: 141м2
              </li>
              <li class="catalog__subitem">
                Размеры: 12х15м
              </li>
              <li class="catalog__subitem">
                Этажность: 3
              </li>
              <li class="catalog__subitem">
                Спален: 3
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
