<section class="credit">
  <div class="container">
    <p class="credit__title">
      Заполните заявку на получение ипотеки на строительство каркасного дома
    </p>
    <form action="#" class="credit__form">
      <div class="credit__top">
        <div class="credit__box">
          <p class="credit__name">
            Сумма кредита, руб
          </p>
          <div class="credit__inner">
            <cpan class="credit__price">500 000</cpan>
            <cpan class="credit__price">50 000 000</cpan>
          </div>
          <div class="credit__slider" id="credit-slider"></div>
        </div>
        <div class="credit__box">
          <input id="credit1" type="hidden" name="Цель кредита">
          <select id="credit-select">
            <option value="Ипотека">Ипотека</option>
            <option value="Кредит на строительтво дома">Кредит на строительтво дома</option>


          </select>
        </div>
        <div class="credit__box">
          <input type="text" name="Город" class="input-reset credit__input" placeholder="Город">
        </div>


      </div>

      <div class="credit__bot">
        <div class="credit__box-name">
          <input type="text" name="Имя" class="input-reset credit__input" placeholder="Ваше имя">
        </div>
        <div class="credit__mail">
          <input type="text" name="Почта" class="input-reset credit__input" placeholder="Электронная почта">
        </div>
        <div class="credit__phone">
          <input type="text" name="Телефон" class="input-reset credit__input credit__tel" placeholder="Ваш телефон*">
        </div>

      </div>

      <button class="btn-reset btn credit__btn">Отправить заявку</button>
      <p class="credit__text">
        *Передавая информацию сайту, Вы принимаете условия <a href="#" class="credit__link">политики защиты персональной
          информации</a>
      </p>
    </form>
    <p class="credit__title credit__title--two">
      Ваша заявка будет отправлена в несколько банков
    </p>
    <ul class="list-reset credit__list">
      <li class="credit__bank">
        <picture>
          <source srcset="img/bank-1.webp" type="image/webp">
          <img loading="lazy" src="img/bank-1." class="image" width="336" height="102" alt="Sber">
        </picture>
      </li>
      <li class="credit__bank">
        <picture>
          <source srcset="img/bank-2.webp" type="image/webp">
          <img loading="lazy" src="img/bank-2.png" class="image" width="336" height="102" alt="Sber">
        </picture>
      </li>
      <li class="credit__bank">
        <picture>
          <source srcset="img/bank-3.webp" type="image/webp">
          <img loading="lazy" src="img/bank-3.png" class="image" width="336" height="102" alt="Sber">
        </picture>
      </li>
      <li class="credit__bank">
        <picture>
          <source srcset="img/bank-4.webp" type="image/webp">
          <img loading="lazy" src="img/bank-4.png" class="image" width="378" height="102" alt="Sber">
        </picture>
      </li>

    </ul>
    <picture>
      <source srcset="img/credit-doc.webp" type="image/webp">
      <img loading="lazy" src="img/credit-doc.png" class="image credit__doc" width="794" height="1123" alt="doc">
    </picture>
  </div>
</section>
