<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__box">
        <a href="#" class="footer__logo">
          <img loading="lazy" src="img/logo.svg" class="image" width="120" height="99" alt="logo">
        </a>
        <p class="footer__copirate">© 2005-2024 «Строй лидер 24»</p>
        <a href="#" class="footer__politic">Политика конфиденциальности</a>
      </div>
      <nav class="footer__nav" title="footer">
        <div class="footer__list">
          <p class="footer__name">
            Строительство
          </p>
          <a href="projects" class="footer__link">Проекты</a>
          <a href="stocks" class="footer__link">Акции</a>
          <a href="contacts" class="footer__link">Контакты</a>
        </div>
        <div class="footer__list">
          <p class="footer__name">
            Компания
          </p>
          <a href="about" class="footer__link">О нас</a>
          <a href="articles" class="footer__link">Статьи</a>
          <a href="quest" class="footer__link">Вопрос / ответ</a>
          <a href="#" class="footer__link">Гарантия</a>
          <a href="#" class="footer__link">Ипотека</a>
          <a href="#" class="footer__link">Материнский капитал</a>
          <a href="#" class="footer__link">Фундамент</a>
          <a href="#" class="footer__link">Сделать заказ</a>
        </div>
        <div class="footer__list">
          <p class="footer__name">
            Наши работы
          </p>
          <a href="gallery" class="footer__link">Галерея</a>
          <a href="№" class="footer__link">Отзывы</a>
        </div>
      </nav>
      <div class="footer__contacts">
        <p class="footer__subtitle">
          Контакты
        </p>
        <a href="tel:79116000051" class="footer__phone">8 (911) 600-00-51</a>
        <a href="mailto:stroy-lider53@yandex.ru" class="footer__mail">stroy-lider53@yandex.ru</a>
        <p class="footer__address">Санкт-Петербург, Железнодорожный пр. 40Д </p>
        <p class="footer__time">Часы работы: с 9:00 до 20:00 без выхолных</p>
        <div class="footer__btns">
          <div class="footer__socials">
            <a href="#" class="footer__social">
              <img loading="lazy" src="img/tel.svg" class="image" width="42" height="41" alt="Telegram">
            </a>
            <a href="#" class="footer__social">
              <img loading="lazy" src="img/wat.svg" class="image" width="42" height="41" alt="Telegram">
            </a>
            <a href="#" class="footer__social">
              <img loading="lazy" src="img/viber.svg" class="image" width="42" height="41" alt="Telegram">
            </a>
          </div>
          <button class="btn-reset footer__btn" data-graph-path="modal">Связаться с нами</button>
        </div>
      </div>
    </div>

    <p class="footer__text">
      © СК «СтройЛидер 53» - Строительство деревянных домов и бань «под ключ». Все права защищены. <br>
      Любое использование
      материалов, статей, набросков и рисунков, дизайнерских решений, их подборки, может осуществляться лишь с разрешения
      руководства "СтройЛидер53". Данный сайт носит исключительно информационный характер и не является публичной офертой,
      определяемой положениями Статьи 437 ГК РФ.
    </p>
  </div>
</footer>
