<div class="form">
  <div class="container">
    <div class="form__wrapper">
      <div class="form__content">
        <p class="form__subtitle">
          Заказать звонок
        </p>
        <p class="form__text">
          Наши менеджеры перезвонят Вам в течение 30 минут
        </p>
        <form action="#" class="form__form">
          <div class="form__name">
            <input type="text" name="Имя" class="input-reset form__input" placeholder="Ваше имя">
          </div>

          <div class="form__phone">
            <input type="tel" name="Телефон" class="input-reset form__input" placeholder="Ваш телефон*">
          </div>

          <button class="btn-reset btn form__btn">Заказать звонок</button>
          <p class="form__descr">
            *Передавая информацию сайту, Вы принимаете условия <a href="#" class="form__link">политики защиты
              персональной информации</a>
          </p>
        </form>
      </div>

      <img loading="lazy" src="img/form.webp" class="image" width="746" height="643" alt="img">

    </div>

  </div>
</div>
