<section class="fund-stat">
  <div class="container">
    <h2 class="fund-stat__title">
      В чем секрет надежности и долговечности фундамента на забивных сваях?
    </h2>
    <div class="fund-stat__wrapper">
      <div class="fund-stat__content">
        <p class="fund-stat__text">
          Забивные сваи — изделия из железобетона прочностью B 22,5 и выше. Выглядят как стержни с квадратным сечением
          15х15 или
          20х20 см. Длина свай 3 или 4 метра.
        </p>
        <p class="fund-stat__text">
          Для увеличения прочности внутрь сваи помещается рифленая арматура из стали класса «А» диаметром от 10 мм и
          выше.
          Благодаря заостренному концу свая легко входит в грунт и закрепляется в нем.
        </p>
        <ul class="list-reset fund-stat__list">
          <li class="fund-stat__item">
            <img loading="lazy" src="img/fund-stat-1.png" class="image" width="30" height="30" alt="img">
            <p class="fund-stat__descr">
              Технология положительно оценена Госстроем РФ
            </p>
          </li>
          <li class="fund-stat__item">
            <img loading="lazy" src="img/fund-stat-2.png" class="image" width="30" height="30" alt="img">
            <p class="fund-stat__descr">
              Сваи изготавливаются из бетона класса B 22,5 - B 25
            </p>
          </li>
          <li class="fund-stat__item">
            <img loading="lazy" src="img/fund-stat-3.png" class="image" width="30" height="30" alt="img">
            <p class="fund-stat__descr">
              Изготовлены по ГОСТу <br> 19804-2012
            </p>
          </li>
          <li class="fund-stat__item">
            <img loading="lazy" src="img/fund-stat-4.png" class="image" width="30" height="30" alt="img">
            <p class="fund-stat__descr">
              Нагрузки до 40 тонн на 1 сваю. Срок службы 70-100 лет
            </p>
          </li>
        </ul>
      </div>
      <picture>
        <source srcset="img/fund-stat.webp" type="image/webp">
        <img loading="lazy" src="img/fund-stat.png" class="image" width="877" height="429" alt="ing">
      </picture>
    </div>
    <h2 class="fund-stat__title">
      В чем секрет надежности и долговечности фундамента на забивных сваях?
    </h2>
    <div class="fund-stat__grid">
      <div class="fund-stat__box">
        <p class="fund-stat__subtitle">Выгодно строить</p>
        <p class="fund-stat__box-text">
          Фундамент дешевле чем ленточный, выгода достигает 50%
        </p>
      </div>
      <div class="fund-stat__box">
        <p class="fund-stat__subtitle">Скорость монтажа</p>
        <p class="fund-stat__box-text">
          Быстрое строительство фундамента от 1 дня. Забивка свайного поля можно произвести за 1 день
        </p>
      </div>
      <div class="fund-stat__box">
        <p class="fund-stat__subtitle">Экономичность</p>
        <p class="fund-stat__box-text">
          Использование свай вместо обычных фундаментов позволяет сократить расход бетона на 20-40%, разработку грунта на 70-90%
        </p>
      </div>
      <div class="fund-stat__box">
        <p class="fund-stat__subtitle">Всесезонность</p>
        <p class="fund-stat__box-text">
          В любое время года, даже зимой. Погодные условия не влияют на процесс забивки свай
        </p>
      </div>
      <div class="fund-stat__box">
        <p class="fund-stat__subtitle">Не нарушим ландшафт</p>
        <p class="fund-stat__box-text">
          Не нарушается ландшафт участка, так как земельные работы не требуются. Камни в грунте не помеха в забивке сваи
        </p>
      </div>
      <div class="fund-stat__box">
        <p class="fund-stat__subtitle">Устойчивость</p>
        <p class="fund-stat__box-text">
          Устойчивость к пучению грунта. Сваи забиваются ниже глубины промерзания грунта
        </p>
      </div>
      <div class="fund-stat__box">
        <p class="fund-stat__subtitle">Любые грунты</p>
        <p class="fund-stat__box-text">
          Любой тип грунтов и рельеф. Хорошо подходит для «проблемных грунтов. Устойчивость к коррозии и гниению
        </p>
      </div>
      <div class="fund-stat__box">
        <p class="fund-stat__subtitle">До 40 тонн</p>
        <p class="fund-stat__box-text">
          Несущая способность каждой сваи до 40 тонн (в зависимости от грунта)
        </p>
      </div>
    </div>
    <button class="btn-reset btn fund-stat__btn" data-graph-path="modal">Получить предварительную смету</button>
  </div>

</section>
