<section class="fund-price">
  <div class="container">
    <h2 class="fund-price__title">
      Стоимость забивных свай с монтажом
    </h2>
    <p class="fund-price__descr">
      В стоимость под ключ уже включено:
    </p>
    <div class="fund-price__wrapper">
      <div class="fund-price__grid">
        <p class="fund-price__point">
          Выезд инженера на участок
        </p>
        <p class="fund-price__point">
          Проект свайного поля и смета на фундамент
        </p>
        <p class="fund-price__point">
          Доставка свай на ваш участок
        </p>
        <p class="fund-price__point">
          Забивка свай установкой
        </p>
        <p class="fund-price__point">
          Уборка и вывоз мусора с участка
        </p>
      </div>
      <div class="fund-price__block">
        <div class="fund-price__box">
          <p class="fund-price__title fund-price__title--accent">
            От 3800 руб
          </p>
          <p class="fund-price__box-text">
            Забивные ЖБ сваи 150X150X3000
          </p>
        </div>
        <div class="fund-price__box">
          <p class="fund-price__title fund-price__title--accent">
            От 4300 руб
          </p>

          <p class="fund-price__box-text">
            Забивные ЖБ сваи 150X150X4000
          </p>
        </div>
      </div>
    </div>
    <div class="fund-price__banner"></div>
    <h2 class="fund-price__title">
      Как получить надежный и долговечный фундамент уже на этой неделе?
    </h2>
    <p class="fund-price__descr">
      Пошаговый алгоритм услуги возведения фундамента на забивных сваях
    </p>
    <ul class="list-reset fund-price__list">
      <li class="fund-price__item">
        <img loading="lazy" src="img/fund-price-1.svg" class="image" width="80" height="80" alt="img">
        <p class="fund-price__subtitle">
          Заявка и расчёт
        </p>
        <p class="fund-price__text">
          Узнайте предварительную стоимость фундамента. Оставьте заявку или звоните по номеру +7 (911) 600 00 51
        </p>
        <button class="btn-reset btn fund-price__btn" data-graph-path="modal">Оставить заявку</button>
      </li>
      <li class="fund-price__item">
        <img loading="lazy" src="img/fund-price-2.svg" class="image" width="80" height="80" alt="img">
        <p class="fund-price__subtitle">
          Выезд инженера
        </p>
        <p class="fund-price__text">
          Если условия вас устроят — согласуйте время осмотра участка. В назначенное время инженер приедет, замерит участок и
          рассчитает стоимость.
          Согласовываем дату начала работ и подписываем документы. Предоплата за сваи 40%
        </p>
      </li>
      <li class="fund-price__item">
        <img loading="lazy" src="img/fund-price-3.svg" class="image" width="80" height="80" alt="img">
        <p class="fund-price__subtitle">
          Строительство
        </p>
        <p class="fund-price__text">
          Доставляем на Ваш участок: сваи, ударную установку, инструменты, материалы для обвязки (при необходимости)
          Бригада проводит разметку свайного поля и монтаж фундамента
        </p>
      </li>
      <li class="fund-price__item">
        <img loading="lazy" src="img/fund-price-4.svg" class="image" width="80" height="80" alt="img">
        <p class="fund-price__subtitle">
          Приёмка работ
        </p>
        <p class="fund-price__text">
          Прибираемся на участке, вывозим мусор.
          Вы проверяете качество работ, рассчитываетесь с нами, подписываем акт приемки выполненных работ
        </p>
      </li>
    </ul>

    <h2 class="fund-price__title">
      Как получить надежный и долговечный фундамент уже на этой неделе?
    </h2>
    <div class="fund-price__gallery">
      <picture>
        <source srcset="img/fund-gallery-1.webp" type="image/webp">
        <img loading="lazy" src="img/fund-gallery-1.png" class="image" width="362" height="400" alt="img">
      </picture>
      <picture>
        <source srcset="img/fund-gallery-2.webp" type="image/webp">
        <img loading="lazy" src="img/fund-gallery-2.png" class="image" width="362" height="400" alt="img">
      </picture>
      <picture>
        <source srcset="img/fund-gallery-3.webp" type="image/webp">
        <img loading="lazy" src="img/fund-gallery-3.png" class="image" width="362" height="400" alt="img">
      </picture>
      <picture>
        <source srcset="img/fund-gallery-4.webp" type="image/webp">
        <img loading="lazy" src="img/fund-gallery-4.png" class="image" width="362" height="400" alt="img">
      </picture>
      <picture>
        <source srcset="img/fund-gallery-5.webp" type="image/webp">
        <img loading="lazy" src="img/fund-gallery-5.png" class="image" width="362" height="400" alt="img">
      </picture>
      <picture>
        <source srcset="img/fund-gallery-6.webp" type="image/webp">
        <img loading="lazy" src="img/fund-gallery-6.png" class="image" width="362" height="400" alt="img">
      </picture>
      <picture>
        <source srcset="img/fund-gallery-7.webp" type="image/webp">
        <img loading="lazy" src="img/fund-gallery-7.png" class="image" width="362" height="400" alt="img">
      </picture>
      <picture>
        <source srcset="img/fund-gallery-8.webp" type="image/webp">
        <img loading="lazy" src="img/fund-gallery-8.png" class="image" width="362" height="400" alt="img">
      </picture>
      <picture>
        <source srcset="img/fund-gallery-9.webp" type="image/webp">
        <img loading="lazy" src="img/fund-gallery-9.png" class="image" width="362" height="400" alt="img">
      </picture>

      <picture>
        <source srcset="img/fund-gallery-10.webp" type="image/webp">
        <img loading="lazy" src="img/fund-gallery-10.png" class="image" width="362" height="400" alt="img">
      </picture>
      <picture>
        <source srcset="img/fund-gallery-11.webp" type="image/webp">
        <img loading="lazy" src="img/fund-gallery-11.png" class="image" width="362" height="400" alt="img">
      </picture>
      <picture>
        <source srcset="img/fund-gallery-12.webp" type="image/webp">
        <img loading="lazy" src="img/fund-gallery-12.png" class="image" width="362" height="400" alt="img">
      </picture>
    </div>
  </div>
</section>
