<section class="fund-info">
  <div class="container">
    <div class="fund-info__content">
      <div class="fund-info__inner">
        <h2 class="fund-info__title">
          Построим фундамент для любых малоэтажных зданий и конструкций
        </h2>
        <div class="fund-info__wrapper">
          <div class="fund-info__box">
            Любых домов <br>
            Из бруса <br>
            Из бревна <br>
            Каркасных <br>
            Из блоков <br>
            Из кирпича
          </div>
          <div class="fund-info__box">
            Хоз. построек <br>
            Беседок <br>
            Бань <br>
            Гаражей <br>
            Хозблоков <br>
            Заборов
          </div>
          <div class="fund-info__box">
            Ком. построек <br>
            Ангаров <br>
            Складов <br>
            павильонов <br>
            Гаражей
          </div>
        </div>
        <div class="fund-info__btns">
          <button class="btn-reset btn fund-info__btn" data-graph-path="modal2">Рассчитать стоимость</button>
          <p class="fund-info__span">
            Бесплатно рассчитаем стоимость забивного ж/б фундамента для вашего здания
          </p>
        </div>

      </div>
      <picture>
        <source srcset="img/fund-info.webp" type="image/webp">
        <img loading="lazy" src="img/fund-info.png" class="image" width="748" height="505" alt="img">
      </picture>
    </div>

    <h2 class="fund-info__title fund-info__title--center">
      Какие виды забивных фундаментов мы строим
    </h2>
    <ul class="list-reset fund-info__list">
      <li class="fund-info__item">
        <picture>
          <source srcset="img/fund-info-1.webp" type="image/webp">
          <img loading="lazy" src="img/fund-info-1.pmg" class="image" width="400" height="300" alt="img">
        </picture>
        <p class="fund-info__subtitle">
          Стандартный забивной
        </p>
        <p class="fund-info__text">
          Для фундаментов деревянных, каменных, каркасных, железобетонных построек
        </p>
        <button class="btn-reset btn fund-info__btntwo" data-graph-path="modal2">Рассчитать стоимость</button>
      </li>
      <li class="fund-info__item">
        <picture>
          <source srcset="img/fund-info-2.webp" type="image/webp">
          <img loading="lazy" src="img/fund-info-2.pmg" class="image" width="400" height="300" alt="img">
        </picture>
        <p class="fund-info__subtitle">
          Забивной с площадками
        </p>
        <p class="fund-info__text">
          Установка площадок для последующей обвязки брусом или швелером
        </p>
        <button class="btn-reset btn fund-info__btntwo" data-graph-path="modal2">Рассчитать стоимость</button>
      </li>
      <li class="fund-info__item">
        <picture>
          <source srcset="img/fund-info-3.webp" type="image/webp">
          <img loading="lazy" src="img/fund-info-3.pmg" class="image" width="400" height="300" alt="img">
        </picture>
        <p class="fund-info__subtitle">
          С обвязкой брусом
        </p>
        <p class="fund-info__text">
          Для деревянных, каркасных, каменных бань, гаражей и хозяйственных построек
        </p>
        <button class="btn-reset btn fund-info__btntwo" data-graph-path="modal2">Рассчитать стоимость</button>
      </li>
    </ul>
  </div>
</section>
