<section class="fund-hero">
  <div class="container">
    <h1 class="fund-hero__title">
      <span class="fund-hero__title fund-hero__title--accent">ФУНДАМЕНТ</span> НА Ж/Б ЗАБИВНЫХ СВАЯХ «ПОД КЛЮЧ» <span class="fund-hero__title fund-hero__title--accent">ЗА 1 ДЕНЬ</span>
    </h1>
    <div class="fund-hero__content">
      <div class="fund-hero__box">
        <img loading="lazy" src="img/fund-hero-1.png" class="image" width="80" height="80" alt="img">
        <p class="fund-hero__descr">
          Профессиональная консультация
        </p>
      </div>
      <div class="fund-hero__box">
        <img loading="lazy" src="img/fund-hero-2.png" class="image" width="80" height="80" alt="img">
        <p class="fund-hero__descr">
          От 3800р за сваю с <br> учетом монтажа
        </p>
      </div>
      <div class="fund-hero__box">
        <img loading="lazy" src="img/fund-hero-3.png" class="image" width="80" height="80" alt="img">
        <p class="fund-hero__descr">
          Расчёт нагрузок и проект фундамент
        </p>
      </div>
    </div>
    <h2 class="section-title">
      Получите бесплатный расчёт стоимости фундамента
    </h2>
    <ul class="list-reset fund-hero__list">
      <li class="fund-hero__item">
        Установим за 1-2 дня Выйдем на участок в течение 2-х дней
      </li>
      <li class="fund-hero__item">
        Подходит для любого вида грунтов. Устанавливаем в любое время года
      </li>
      <li class="fund-hero__item">
        Забиваем без нарушения инфраструктуры участка
      </li>
      <li class="fund-hero__item">
        Забъем сваи, установим оголовки
      </li>
    </ul>
    <button class="btn-reset btn fund-hero__btn" data-graph-path="modal">Получить предварительную смету</button>

  </div>
</section>
