<header class="header">
  <div class="container">
    <div class="header__content">
      <a href="index" class="header__logo">
        <img loading="lazy" src="img/logo.svg" class="image" width="120" height="99" alt="Строй лидер 53">
      </a>
      <nav class="nav" title="nav">
        <ul class="list-reset nav__list">
          <li class="nav__item ">
            <a href="#" class="nav__link  nav__link--accent">Проекты
              <img loading="lazy" src="img/bot.svg" class="image" width="10" height="6" alt="bot">
            </a>
            <div class="nav__sublist">
              <a href="#" class="nav__sublink">Каркасные дома</a>
              <a href="#" class="nav__sublink">Дома из бруса</a>
              <a href="#" class="nav__sublink">Бани из бруса</a>
            </div>
          </li>
          <li class="nav__item"><a href="#" class="nav__link">Отзывы</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Акции</a></li>
          <li class="nav__item"><a href="#" class="nav__link">О компании</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Галерея</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Фундамент</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Статьи</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>

        </ul>
      </nav>
      <div class="header__contacts">
        <a href="#" class="header__phone">8 (911) 600-00-51</a>
        <a href="#" class="header__mail">stroy-lider53@yandex.ru</a>
      </div>
      <div class="header__socials">
        <a href="#" class="header__social">
          <img loading="lazy" src="img/tel.svg" class="image" width="30" height="30" alt="Telegram">
        </a>
        <a href="#" class="header__social">
          <img loading="lazy" src="img/wat.svg" class="image" width="30" height="30" alt="Whatsapp">
        </a>
        <a href="#" class="header__social">
          <img loading="lazy" src="img/viber.svg" class="image" width="30" height="30" alt="Viber">
        </a>
      </div>
      <button class="btn-reset btn header__btn" data-graph-path="modal2">Расчёт</button>
    </div>
  </div>
</header>
