<section class="hero">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero__title">
        Каркасные и <br>
        брусовые дома за <br>
        <span class="hero__title hero__title--accent">20 дней</span> <br>
        с гарантией <span class="hero__title hero__title--accent">5 лет</span>
      </h1>
      <p class="hero__text">
        Строим по всему Северо-Западному региону
      </p>
      <div class="hero__btns">
        <button class="btn-reset btn hero__btn" data-graph-path="modal">Заказать</button>
        <a href="projects" class="hero__link">Все проекты</a>
      </div>
    </div>
  </div>
</section>
