<section class="hit">
  <div class="container">
    <h2 class="section-title">
      Хиты продаж
    </h2>
    <div class="tabs" data-tabs="tab">
      <ul class="list-reset tabs__nav">
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Все</button></li>
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Каркасные дома</button></li>
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Дома из бруса</button></li>
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Бани из бруса</button></li>
      </ul>
      <div class="tabs__content">
        <div class="tabs__panel">
          <div class="swiper hit__swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">

                <div class="hit__wrapper">

                  <div class="hit__box">

                    <div class="swiper hit__swiper-inner">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <span class="hit__special">Спецпредложение</span>
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="876" height="477" alt="img">
                          </picture>
                        </div>
                        <div class="swiper-slide">
                          <span class="hit__special">Спецпредложение</span>
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="876" height="477" alt="img">
                          </picture>
                        </div>
                        <div class="swiper-slide">
                          <span class="hit__special">Спецпредложение</span>
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="876" height="477" alt="img">
                          </picture>
                        </div>
                        <div class="swiper-slide">
                          <span class="hit__special">Спецпредложение</span>
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="876" height="477" alt="img">
                          </picture>
                        </div>
                        <div class="swiper-slide">
                          <span class="hit__special">Спецпредложение</span>
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="876" height="477" alt="img">
                          </picture>
                        </div>
                      </div>
                    </div>

                    <div class="swiper hit__thumbs-inner">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="112" height="84" alt="img">
                          </picture>
                        </div>
                        <div class="swiper-slide">
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="112" height="84" alt="img">
                          </picture>
                        </div>
                        <div class="swiper-slide">
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="112" height="84" alt="img">
                          </picture>
                        </div>
                        <div class="swiper-slide">
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="112" height="84" alt="img">
                          </picture>
                        </div>
                        <div class="swiper-slide">
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="112" height="84" alt="img">
                          </picture>
                        </div>
                        <div class="swiper-slide">
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="112" height="84" alt="img">
                          </picture>
                        </div>
                        <div class="swiper-slide">
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="112" height="84" alt="img">
                          </picture>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="hit__content">
                    <p class="hit__name">
                      Дом из бруса 12х15 ДБ-12
                    </p>
                    <ul class="list-reset hit__list">
                      <li class="hit__item">Площадь: 141м2</li>
                      <li class="hit__item">Размеры: 12х15м</li>
                      <li class="hit__item">Этажность: 2</li>
                      <li class="hit__item">Спален: 3</li>
                      <li class="hit__item">Срок: 20 дней</li>
                    </ul>
                    <p class="hit__price">
                      от 5 474 000 ₽
                    </p>
                    <div class="hit__overlay">
                      <a href="#" class="hit__mortgage">
                        <p class="hit__descr">
                          В ипотеку <br>
                          <span class="hit__descr hit__descr--accent">от 39 450 ₽/мес</span>
                        </p>
                      </a>
                      <button class="btn-reset btn hit__btn">Получить смету</button>
                    </div>

                  </div>

                </div>

              </div>
              <div class="swiper-slide">

                <div class="hit__wrapper">

                  <div class="hit__box">

                    <div class="swiper hit__swiper-inner">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <span class="hit__special">Спецпредложение</span>
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="876" height="477" alt="img">
                          </picture>
                        </div>
                        <div class="swiper-slide">
                          <span class="hit__special">Спецпредложение</span>
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="876" height="477" alt="img">
                          </picture>
                        </div>
                        <div class="swiper-slide">
                          <span class="hit__special">Спецпредложение</span>
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="876" height="477" alt="img">
                          </picture>
                        </div>
                        <div class="swiper-slide">
                          <span class="hit__special">Спецпредложение</span>
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="876" height="477" alt="img">
                          </picture>
                        </div>
                        <div class="swiper-slide">
                          <span class="hit__special">Спецпредложение</span>
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="876" height="477" alt="img">
                          </picture>
                        </div>
                      </div>
                    </div>

                    <div class="swiper hit__thumbs-inner">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="112" height="84" alt="img">
                          </picture>
                        </div>
                        <div class="swiper-slide">
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="112" height="84" alt="img">
                          </picture>
                        </div>
                        <div class="swiper-slide">
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="112" height="84" alt="img">
                          </picture>
                        </div>
                        <div class="swiper-slide">
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="112" height="84" alt="img">
                          </picture>
                        </div>
                        <div class="swiper-slide">
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="112" height="84" alt="img">
                          </picture>
                        </div>
                        <div class="swiper-slide">
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="112" height="84" alt="img">
                          </picture>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="hit__content">
                    <p class="hit__name">
                      Дом из бруса 12х15 ДБ-12
                    </p>
                    <ul class="list-reset hit__list">
                      <li class="hit__item">Площадь: 141м2</li>
                      <li class="hit__item">Размеры: 12х15м</li>
                      <li class="hit__item">Этажность: 2</li>
                      <li class="hit__item">Спален: 3</li>
                      <li class="hit__item">Срок: 20 дней</li>
                    </ul>
                    <p class="hit__price">
                      от 5 474 000 ₽
                    </p>
                    <div class="hit__overlay">
                      <a href="#" class="hit__mortgage">
                        <p class="hit__descr">
                          В ипотеку <br>
                          от 39 450 ₽/мес
                        </p>
                      </a>
                      <button class="btn-reset btn hit__btn">Получить смету</button>
                    </div>

                  </div>

                </div>

              </div>
              <div class="swiper-slide">

                <div class="hit__wrapper">

                  <div class="hit__box">

                    <div class="swiper hit__swiper-inner">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <span class="hit__special">Спецпредложение</span>
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="876" height="477" alt="img">
                          </picture>
                        </div>
                        <div class="swiper-slide">
                          <span class="hit__special">Спецпредложение</span>
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="876" height="477" alt="img">
                          </picture>
                        </div>
                        <div class="swiper-slide">
                          <span class="hit__special">Спецпредложение</span>
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="876" height="477" alt="img">
                          </picture>
                        </div>
                        <div class="swiper-slide">
                          <span class="hit__special">Спецпредложение</span>
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="876" height="477" alt="img">
                          </picture>
                        </div>
                        <div class="swiper-slide">
                          <span class="hit__special">Спецпредложение</span>
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="876" height="477" alt="img">
                          </picture>
                        </div>
                      </div>
                    </div>

                    <div class="swiper hit__thumbs-inner">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="112" height="84" alt="img">
                          </picture>
                        </div>
                        <div class="swiper-slide">
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="112" height="84" alt="img">
                          </picture>
                        </div>
                        <div class="swiper-slide">
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="112" height="84" alt="img">
                          </picture>
                        </div>
                        <div class="swiper-slide">
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="112" height="84" alt="img">
                          </picture>
                        </div>
                        <div class="swiper-slide">
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="112" height="84" alt="img">
                          </picture>
                        </div>
                        <div class="swiper-slide">
                          <picture>
                            <source srcset="img/hit.webp" type="image/webp">
                            <img loading="lazy" src="img/hit.png" class="image" width="112" height="84" alt="img">
                          </picture>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="hit__content">
                    <p class="hit__name">
                      Дом из бруса 12х15 ДБ-12
                    </p>
                    <ul class="list-reset hit__list">
                      <li class="hit__item">Площадь: 141м2</li>
                      <li class="hit__item">Размеры: 12х15м</li>
                      <li class="hit__item">Этажность: 2</li>
                      <li class="hit__item">Спален: 3</li>
                      <li class="hit__item">Срок: 20 дней</li>
                    </ul>
                    <p class="hit__price">
                      от 5 474 000 ₽
                    </p>
                    <div class="hit__overlay">
                      <a href="#" class="hit__mortgage">
                        <p class="hit__descr">
                          В ипотеку <br>
                          от 39 450 ₽/мес
                        </p>
                      </a>
                      <button class="btn-reset btn hit__btn">Получить смету</button>
                    </div>

                  </div>

                </div>

              </div>
            </div>
          </div>
          <div class="hit__wrapper-two">
            <button class="btn-reset hit__arrow-left"></button>
            <button class="btn-reset hit__arrow-right"></button>
            <div class="swiper hit__thumbs">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="hit__block">
                    <span class="hit__subspecial">
                      Спецпредложение
                    </span>
                    <picture>
                      <source srcset="img/hit.webp" type="image/webp">
                      <img loading="lazy" src="img/hit.png" class="image" width="362" height="210" alt="img">
                    </picture>
                    <div class="hit__inner">
                      <p class="hit__subname">
                        Дом из бруса 12х15 ДБ-12
                      </p>
                      <p class="hit__subprice">
                        от 5 474 000 ₽
                      </p>
                      <ul class="list-reset hit__sublist">
                        <li class="hit__subitem">
                          Площадь: 141м2
                        </li>
                        <li class="hit__subitem">
                          Размеры: 12х15м
                        </li>
                        <li class="hit__subitem">
                          Этажность: 3
                        </li>
                        <li class="hit__subitem">
                          Спален: 3
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="hit__block">
                    <span class="hit__subspecial">
                      Спецпредложение
                    </span>
                    <picture>
                      <source srcset="img/hit.webp" type="image/webp">
                      <img loading="lazy" src="img/hit.png" class="image" width="362" height="210" alt="img">
                    </picture>
                    <div class="hit__inner">
                      <p class="hit__subname">
                        Дом из бруса 12х15 ДБ-12
                      </p>
                      <p class="hit__subprice">
                        от 5 474 000 ₽
                      </p>
                      <ul class="list-reset hit__sublist">
                        <li class="hit__subitem">
                          Площадь: 141м2
                        </li>
                        <li class="hit__subitem">
                          Размеры: 12х15м
                        </li>
                        <li class="hit__subitem">
                          Этажность: 3
                        </li>
                        <li class="hit__subitem">
                          Спален: 3
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="hit__block">
                    <span class="hit__subspecial">
                      Спецпредложение
                    </span>
                    <picture>
                      <source srcset="img/hit.webp" type="image/webp">
                      <img loading="lazy" src="img/hit.png" class="image" width="362" height="210" alt="img">
                    </picture>
                    <div class="hit__inner">
                      <p class="hit__subname">
                        Дом из бруса 12х15 ДБ-12
                      </p>
                      <p class="hit__subprice">
                        от 5 474 000 ₽
                      </p>
                      <ul class="list-reset hit__sublist">
                        <li class="hit__subitem">
                          Площадь: 141м2
                        </li>
                        <li class="hit__subitem">
                          Размеры: 12х15м
                        </li>
                        <li class="hit__subitem">
                          Этажность: 3
                        </li>
                        <li class="hit__subitem">
                          Спален: 3
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="hit__block">
                    <span class="hit__subspecial">
                      Спецпредложение
                    </span>
                    <picture>
                      <source srcset="img/hit.webp" type="image/webp">
                      <img loading="lazy" src="img/hit.png" class="image" width="362" height="210" alt="img">
                    </picture>
                    <div class="hit__inner">
                      <p class="hit__subname">
                        Дом из бруса 12х15 ДБ-12
                      </p>
                      <p class="hit__subprice">
                        от 5 474 000 ₽
                      </p>
                      <ul class="list-reset hit__sublist">
                        <li class="hit__subitem">
                          Площадь: 141м2
                        </li>
                        <li class="hit__subitem">
                          Размеры: 12х15м
                        </li>
                        <li class="hit__subitem">
                          Этажность: 3
                        </li>
                        <li class="hit__subitem">
                          Спален: 3
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="hit__block">
                    <span class="hit__subspecial">
                      Спецпредложение
                    </span>
                    <picture>
                      <source srcset="img/hit.webp" type="image/webp">
                      <img loading="lazy" src="img/hit.png" class="image" width="362" height="210" alt="img">
                    </picture>
                    <div class="hit__inner">
                      <p class="hit__subname">
                        Дом из бруса 12х15 ДБ-12
                      </p>
                      <p class="hit__subprice">
                        от 5 474 000 ₽
                      </p>
                      <ul class="list-reset hit__sublist">
                        <li class="hit__subitem">
                          Площадь: 141м2
                        </li>
                        <li class="hit__subitem">
                          Размеры: 12х15м
                        </li>
                        <li class="hit__subitem">
                          Этажность: 3
                        </li>
                        <li class="hit__subitem">
                          Спален: 3
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="tabs__panel"></div>
        <div class="tabs__panel"></div>
        <div class="tabs__panel"></div>
      </div>
    </div>
  </div>
</section>
