<section class="how">
  <div class="container">
    <h2 class="section-title">
      Как мы работаем
    </h2>
    <div class="how__grid">
      <div class="how__item">
        <img loading="lazy" src="img/how-1.svg" class="image" width="80" height="80" alt="img">
        <p class="how__subtitle">
          Анализ грунта
        </p>
        <p class="how__text">
          Инженер-геодезист проведет геологическую разведку
        </p>
        <button class="btn-reset btn how__btn" data-graph-path="modal">Получить геологическую разведку</button>
      </div>
      <div class="how__item">
        <img loading="lazy" src="img/how-2.svg" class="image" width="80" height="80" alt="img">
        <p class="how__subtitle">
          Проектирование
        </p>
        <p class="how__text">
          Архитектор разработает проект

        </p>
        <button class="btn-reset btn how__btn" data-graph-path="modal">Получить проект дома бесплатно</button>
      </div>
      <div class="how__item">
        <img loading="lazy" src="img/how-3.svg" class="image" width="80" height="80" alt="img">
        <p class="how__subtitle">
          Фундамент
        </p>
        <p class="how__text">
          Возводим фундамент в соответствии с правилами СНиП
        </p>
      </div>
      <div class="how__item">
        <img loading="lazy" src="img/how-4.svg" class="image" width="80" height="80" alt="img">
        <p class="how__subtitle">
          Возведение дома
        </p>
        <p class="how__text">
          Возводим каркас дома, кладем полы и кровлю
        </p>
      </div>
      <div class="how__item">
        <img loading="lazy" src="img/how-5.svg" class="image" width="80" height="80" alt="img">
        <p class="how__subtitle">
          Утепление
        </p>
        <p class="how__text">
          Устанавливаем экологически чистый утеплитель
        </p>
      </div>
      <div class="how__item">
        <img loading="lazy" src="img/how-6.svg" class="image" width="80" height="80" alt="img">
        <p class="how__subtitle">
          Инженерные коммуникации
        </p>
        <p class="how__text">
          Прокладываем инженерные коммуникации и электричество
        </p>
      </div>
      <div class="how__item">
        <img loading="lazy" src="img/how-7.svg" class="image" width="80" height="80" alt="img">
        <p class="how__subtitle">
          Отделка
        </p>
        <p class="how__text">
          Делаем предчистовую и чистовую отделку
        </p>
      </div>
      <div class="how__item">
        <img loading="lazy" src="img/how-8.svg" class="image" width="80" height="80" alt="img">
        <p class="how__subtitle">
          Заселение
        </p>
        <p class="how__text">
          Дом полностью готов к заселению
        </p>
        <button class="btn-reset btn how__btn" data-graph-path="modal2">Рассситать стоимость строительства дома</button>
      </div>
    </div>
  </div>
</section>
