<div class="menu" data-menu>
  <div class="menu__content">
    <a href="index" class="menu__logo">
      <img loading="lazy" src="img/logo.svg" class="image" width="85" height="70" alt="img">
    </a>
    <ul class="list-reset menu__list">
      <li class="menu__item">
        <a href="projects" class="menu__link menu__link--accent">Проекты домов</a>
      </li>
      <li class="menu__item">
        <a href="karkasnye-doma" class="menu__link">Каркасные дома</a>
      </li>
      <li class="menu__item">
        <a href="doma-iz-brusa" class="menu__link">Дома из бруса</a>
      </li>
      <li class="menu__item">
        <a href="bani-iz-brusa" class="menu__link">Бани из бруса</a>
      </li>
      <li class="menu__item">
        <a href="feedback" class="menu__link">Отзывы</a>
      </li>
      <li class="menu__item">
        <a href="stocks" class="menu__link">Акции</a>
      </li>
      <li class="menu__item">
        <a href="about" class="menu__link">О нас</a>
      </li>
      <li class="menu__item">
        <a href="quest" class="menu__link">Вопрос/ответ</a>
      </li>
      <li class="menu__item">
        <a href="order" class="menu__link">Сделать заказ</a>
      </li>
      <li class="menu__item">
        <a href="warranty" class="menu__link">Гарантии</a>
      </li>
      <li class="menu__item">
        <a href="credit" class="menu__link">Ипотека</a>
      </li>
      <li class="menu__item">
        <a href="matcapital" class="menu__link">Материнский капитал</a>
      </li>
      <li class="menu__item">
        <a href="gallery" class="menu__link">Галерея</a>
      </li>
      <li class="menu__item">
        <a href="fundament" class="menu__link">Фундамент</a>
      </li>

      <li class="menu__item">
        <a href="articles" class="menu__link">Статьи</a>
      </li>
      <li class="menu__item">
        <a href="contacts" class="menu__link">Контакты</a>
      </li>

    </ul>
    <div class="menu__contacts">
      <a href="tel:79116000051" class="menu__phone">8 (911) 600-00-51</a>
      <a href="mailto:stroy-lider53@yandex.ru" class="menu__mail">stroy-lider53@yandex.ru</a>
      <p class="menu__text">Санкт-Петербург, Железнодорожный пр. 40Д</p>
      <p class="menu__text">Часы работы: с 9:00 до 20:00 без выходных</p>
    </div>
  </div>
</div>
