<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <div class="graph-modal__inner">
        <p class="graph-modal__title">
          Собственный проект
        </p>
        <p class="graph-modal__descr">
          У вас свой проект?
        </p>
        <p class="graph-modal__item">
          Выполним бесплатный расчёт
        </p>
        <p class="graph-modal__item">
          Предложим лучшую цену за 2 дня
        </p>
        <form action="#" class="graph-modal__form">
          <div class="graph-modal__name">
            <input type="text" name="Имя" class="input-reset graph-modal__input" placeholder="Ваше имя">
          </div>

          <div class="graph-modal__phone">
            <input type="tel" name="Телефон" class="input-reset graph-modal__input" placeholder="Ваш телефон*">
          </div>

          <textarea name="Cообщение" class="input-reset graph-modal__message" placeholder="Ваше сообщение"></textarea>

          <button class="btn-reset btn graph-modal__btn">Заказать звонок</button>
          <p class="graph-modal__text">
            *Передавая информацию сайту, Вы принимаете условия <a href="#" class="graph-modal__link">политики защиты
              персональной информации</a>
          </p>
        </form>
      </div>

      <img loading="lazy" src="img/modal.webp" class="image" width="561" height="696" alt="imf">
    </div>
  </div>
</div>
