<section class="order">
  <div class="container">
    <div class="tabs" data-tabs="tabs-order">
      <ul class="list-reset tabs__nav">
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">01</button></li>
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">02</button></li>
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">03</button></li>
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">04</button></li>
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">05</button></li>
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">06</button></li>
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">07</button></li>
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">08</button></li>
      </ul>
      <div class="tabs__content">
        <div class="tabs__panel">
          <h2 class="order__title">
            Инженер-геодезист осмотрит участок и проведет геологическую разведку
          </h2>
          <p class="order__subtitle">
            На участок приедет геодезист, чтобы:
          </p>
          <p class="order__text">
            - осмотреть участок, <br>
            - замерить перепад грунта <br>
            - исследовать тип грунта для выбора подходящего вида фундамента
          </p>
          <p class="order__subtitle">
            В результате:
          </p>
          <ul class="list-reset order__list">
            <li class="order__item">
              Подберем подходящий вид фундамента
            </li>
            <li class="order__item">
              Составим план-схему привязки строения к участку и инженерных коммуникаций (водоснабжение, водоотведение,
              газификация,
              электроснабжение)
            </li>
            <li class="order__item">
              Предотвратим осадку фундамента и разрушение дома в будущем, за счет чего <span
                class="order__accent">сэкономим вам до 2 000 000 руб.</span>
            </li>
          </ul>
          <button class="btn-reset btn order__btn" data-graph-path="modal">Получить геологическую развезку</button>
        </div>
        <div class="tabs__panel">
          <h2 class="order__title">
            Архитектор разработает проект исходя из ваших пожеланий, особенностей грунта и ландшафта
          </h2>
          <p class="order__subtitle">
            Стоимость проекта отдельно — 15 000 руб.
          </p>
          <p class="order__text">
            Бесплатно, если строите дом под ключ с нами
          </p>
          <p class="order__subtitle">
            Вы получите:
          </p>
          <p class="order__text">
            - развернутый эскиз вашего будущего дома <br>
            - дизайн-проект интерьера <br>
            - детальную 3D-визуализацию с видами
          </p>

          <ul class="list-reset order__list">
            <li class="order__item">
              Составим смету с точностью до рубля и зафиксируем стоимость
            </li>
            <li class="order__item">
              Установим финальную стоимость проекта, которая после заключения договора уже не изменится. Финальная
              стоимость
              отличается от предварительного расчета максимум на 5%
            </li>

          </ul>
          <button class="btn-reset btn order__btn" data-graph-path="modal">Получить проект дома бесплатно</button>
        </div>
        <div class="tabs__panel">
          <h2 class="order__title">
            Возводим фундамент в соответствии с правилами СНиП
          </h2>

          <p class="order__subtitle">
            70% компаний совершают ошибки при возведении фундамента. Это приводит к проблемам уже в первый год
            эксплуатации дома.
          </p>

          <p class="order__subtitle">
            Вы получите:
          </p>
          <p class="order__text">
            - развернутый эскиз вашего будущего дома <br>
            - дизайн-проект интерьера <br>
            - детальную 3D-визуализацию с видами
          </p>

          <ul class="list-reset order__list">
            <li class="order__item">
              Учтем вес дома, заложим дополнительную прочность под тяжелую мебель или камин.
            </li>
            <li class="order__item">
              Соблюдаем технологии для каждого из видов фундамента
            </li>

          </ul>
          <p class="order__subtitle">
            Вы получите:
          </p>
          <ul class="list-reset order__list order__list--three">
            <li class="order__item">
              Заложена основа будущего дома. Уверены в прочности фундамента, поэтому даем на него гарантию 70 лет*
            </li>
          </ul>
          <p class="order__descr">
            *гарантия 70 лет распространяется только на свайно-винтовой тип фундамента. На остальные типы гарантия 5 лет
          </p>
          <button class="btn-reset btn order__btn" data-graph-path="modal">Получить проект дома бесплатно</button>
        </div>
        <div class="tabs__panel">
          <h2 class="order__title">
            Возводим каркас дома, кладем полы и кровлю по технологии, превосходящей СП 31-105-2002
          </h2>

          <p class="order__text">
            — Используем пиломатериал по ГОСТу 8486-86 с идеально правильной геометрией. <br>
            — Кладем лаги пола на расстоянии 35 см (понормативу 60 см). За счет этого добиваемся максимальной жесткости пола. <br>
            — Все примыкающие угловые соединения дополнительно скрепляем усиленными оцинкованными уголками. <br>
            — Укрепляем каркас диагональным усилением и верхним дополнительным обвязочным контуром.— Оконные и дверные проемы усиливаются врезкой ригеля и дополнительными опорными
            стойками.
          </p>
          <p class="order__subtitle">
            Вы получите:
          </p>
          <ul class="list-reset order__list">
            <li class="order__item">
              Вы получаете устойчивый каркас дома. Конструкция не будет шататься от ветра. Если кто-то хлопнет дверью или дети будут
              прыгать на втором этаже, вы этого не ощутите.
            </li>

          </ul>
          <button class="btn-reset btn order__btn" data-graph-path="modal">Получить проект дома бесплатно</button>
        </div>
        <div class="tabs__panel">
          <h2 class="order__title">
            Устанавливаем экологически чистый утеплитель
          </h2>

          <p class="order__text">
            — Полы утепляем базальтовой крошкой, а не плитным утеплителем, в котором так любят делать норы грызуны. А еще крошка
            равномерно распределяется и не образует щелей. <br>
            — Для защиты от влаги и ветра используем только профессиональные пленки и
            мембраны. Это позволяет дому дышать, не превращая его в термос. В доме не образуется конденсат и плесень. <br>
            — Используем
            экологически чистый кварцевый утеплитель Knauf. В отличие от СИП-панелей он не содержит фенольные смолы и аммиачный газ.
            А еще отлично подавляет шумы.
          </p>
          <p class="order__subtitle">
            Вы получите:
          </p>
          <ul class="list-reset order__list">
            <li class="order__item">
              В вашем доме будет комфортно и безопасно жить. Вы не столкнетесь с проблемами, о которых так часто пишут владельцы
              каркасных домов в интернете
            </li>

          </ul>
          <button class="btn-reset btn order__btn" data-graph-path="modal">Получить проект дома бесплатно</button>
        </div>
        <div class="tabs__panel">
          <h2 class="order__title">
            Прокладываем инженерные коммуникации и электричество
          </h2>

          <p class="order__text">
          — Пожарная безопасность прежде всего — используем немецкий кабель NYM с эффектом самозатухания. Даже если произойдет
          короткое замыкание, пожара не будет. <br>
          — Проводим отопление, водоснабжение, канализацию и вентиляцию. <br>
          — Можем провести
          систему безопасности, ТВ, Интернет и домашний кинотеатр.
          </p>
          <p class="order__subtitle">
            В результате
          </p>
          <ul class="list-reset order__list">
            <li class="order__item">
              В ваш дом проведены все необходимые инженерные коммуникации, обеспечена безопасность.
            </li>

          </ul>
          <button class="btn-reset btn order__btn" data-graph-path="modal">Получить проект дома бесплатно</button>
        </div>
        <div class="tabs__panel">
          <h2 class="order__title">
            Делаем предчистовую и чистовую отделку
          </h2>

          <p class="order__text">
            — Для предчистовой отделки полов используем влагостойкую фанеру. <br>
            — Делаем полусухую бетонную стяжку полов. Это придает
            монолитную жёсткость всей конструкции пола. <br>
            — Под тяжелые предметы кладем гипсостружечные плиты, которые гораздо прочнее
            обычного гипсокартона и выдержат до 90 кг
          </p>
          <p class="order__subtitle">
            В результате
          </p>
          <ul class="list-reset order__list">
            <li class="order__item">
              Ваш дом полностью готов к созданию уютного интерьера
            </li>

          </ul>
          <button class="btn-reset btn order__btn" data-graph-path="modal">Получить проект дома бесплатно</button>
        </div>
        <div class="tabs__panel">
          <h2 class="order__title">
            Дом полностью готов к заселению
          </h2>

          <p class="order__text">
            — Вывезем весь строительный мусор и остатки материалов. <br>
            — Вам остается только провести финальный осмотр и заселиться. С
            этого момента для вас действует гарантия 5 лет.
          </p>
          <p class="order__subtitle">
            В результате
          </p>
          <ul class="list-reset order__list">
            <li class="order__item">
              Теперь у вас есть собственный дом, о котором вы мечтали. Мы рады, что вы доверились нам и поэтому дарим вам скидку 3% на
              сервисное обслуживание.
            </li>

          </ul>
          <button class="btn-reset btn order__btn" data-graph-path="modal">Получить проект дома бесплатно</button>
        </div>
      </div>
    </div>
  </div>
</section>
