<div class="packages">
  <div class="container">
    <div class="tabs" data-tabs="tabs">
      <ul class="list-reset tabs__nav">
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Комплектации</button></li>
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Гарантия</button></li>
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Галерея</button></li>
      </ul>
      <div class="tabs__content">
        <div class="tabs__panel">
          <div class="packages__content">
            <div class="packages__line">
              <div class="packages__col">
                <p class="packages__title">
                  Комплектация проекта
                </p>
              </div>
              <div class="packages__col">
                <p class="packages__text">
                  Каркас+кровля
                </p>
              </div>
              <div class="packages__col">
                <p class="packages__text">
                  Внешний контур+окна и дверь
                </p>
              </div>
              <div class="packages__col">
                <p class="packages__text">
                  Под ключ
                </p>
              </div>
            </div>
            <div class="packages__line packages__line--blue">
              <div class="packages__col">
                <p class="packages__subtitle">
                  Внимание! В комплектацию уже входит: материал, доставка.<br>СБОРКА ВХОДИТ В СТОИМОСТЬ!
                </p>
              </div>
              <div class="packages__col">
                <button class="btn-reset btn packages__btn" data-graph-path="modal">Узнать стоимость</button>
              </div>
              <div class="packages__col">
                <button class="btn-reset btn packages__btn" data-graph-path="modal">Узнать стоимость</button>
              </div>
              <div class="packages__col">
                <button class="btn-reset btn packages__btn" data-graph-path="modal">Узнать стоимость</button>
              </div>
            </div>
            <div class="packages__line packages__line--accent">
              <div class="packages__col">
                <p class="packages__subtitle">
                  Силовой каркас из сухого строганного  материала
                </p>
              </div>
              <div class="packages__col">
              </div>
              <div class="packages__col">
              </div>
              <div class="packages__col">
              </div>
            </div>
            <div class="packages__line">
              <div class="packages__col">
                <p class="packages__text">
                  Высота 1 этажа
                </p>
              </div>

              <div class="packages__col">
                2.5 метра
              </div>
            </div>
            <div class="packages__line packages__line--blue">
              <div class="packages__col">
                <p class="packages__text">
                  Высота 2 этажа
                </p>
              </div>

              <div class="packages__col">
                2.7 метра
              </div>
            </div>
            <div class="packages__line">
              <div class="packages__col">
                <p class="packages__text">
                  Силовая основа несущего каркаса (нижняя обвязка) дома в два ряда: Первый ряд из бруса 145х195 ммВторой
                  ряд выполняется
                  по технологии каркасной платформы из сухой строганной доски 45х195 мм
                </p>
              </div>

              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
            </div>
            <div class="packages__line packages__line--blue">
              <div class="packages__col">
                <p class="packages__text">
                  Устройство гидроизоляции между обвязочным венцом и фундаментом Крепление дома к фундаменту монтажные
                  болты
                </p>
              </div>

              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
            </div>
            <div class="packages__line">
              <div class="packages__col">
                <p class="packages__text">
                  Половые лаги: сухая строганная доска 45х195 мм Наружные стены: сухая строганная доска 45х145 мм +
                  45х45
                  мм Укосины: сухая строганная доска 45х145 мм
                </p>
              </div>

              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
            </div>
            <div class="packages__line packages__line--blue">
              <div class="packages__col">
                <p class="packages__text">
                  Балки межэтажного перекрытия: сухая строганная доска 45х195 мм (в пролётах более 3 метров дополнительное
                  усиление) Стропильная система: из сухой строганной доски 45х145 мм 
                </p>
              </div>

              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
            </div>
            <div class="packages__line">
              <div class="packages__col">
                <p class="packages__text">
                  Перегородки: сухая строганная доска 45х95 мм, (45х145 мм) Шаг стоек каркаса, шаг половых лаг, шаг стропил - 58 см
                </p>
              </div>

              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
            </div>
            <div class="packages__line packages__line--blue">
              <div class="packages__col">
                <p class="packages__text">
                  Усиленные дверные и оконные проемы
                </p>
              </div>

              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
            </div>
            <div class="packages__line packages__line--accent">
              <div class="packages__col">
                <p class="packages__subtitle">
                  Кровля
                </p>
              </div>
              <div class="packages__col">
              </div>
              <div class="packages__col">
              </div>
              <div class="packages__col">
              </div>
            </div>
            <div class="packages__line  ">
              <div class="packages__col">
                <p class="packages__text">
                  Подкровельная гидроизоляционная мембрана Техноаут АМ
                </p>
              </div>

              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
            </div>
            <div class="packages__line packages__line--blue ">
              <div class="packages__col">
                <p class="packages__text">
                  Контробрешётка: сухая строганная доска 45х45 мм
                </p>
              </div>

              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
            </div>
            <div class="packages__line  ">
              <div class="packages__col">
                <p class="packages__text">
                  Обрешётка: сухая доска 25х100 мм
                </p>
              </div>

              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
            </div>
            <div class="packages__line packages__line--blue">
              <div class="packages__col">
                <p class="packages__text">
                  Кровля: качественная Металлочерепица с повышенным содержанием цинка
                </p>
              </div>

              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
            </div>
            <div class="packages__line packages__line--accent">
              <div class="packages__col">
                <p class="packages__subtitle">
                  Утепление, ветрозащита, пароизоляция
                </p>
              </div>
              <div class="packages__col">
              </div>
              <div class="packages__col">
              </div>
              <div class="packages__col">
              </div>
            </div>
            <div class="packages__line">
              <div class="packages__col">
                <p class="packages__text">
                  Наружная ветро-влагозащита стен: Изоплат 12мм
                </p>
              </div>

              <div class="packages__col">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
            </div>
            <div class="packages__line packages__line--blue">
              <div class="packages__col">
                <p class="packages__text">
                  Утепление пола 1 этажа: 200 мм плитным каменным (Базальтовым) утеплителем «Roсkwool Лайт Баттс»
                </p>
              </div>

              <div class="packages__col">
              </div>
              <div class="packages__col">

              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
            </div>
            <div class="packages__line">
              <div class="packages__col">
                <p class="packages__text">
                  Утепление перегородок: 100 мм плитным каменным (Базальтовым) утеплителем «Roсkwool Лайт Баттс»
                </p>
              </div>

              <div class="packages__col">
              </div>
              <div class="packages__col">

              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
            </div>
            <div class="packages__line packages__line--blue">
              <div class="packages__col">
                <p class="packages__text">
                  Утепление межэтажного перекрытия: 150 мм плитным каменным (Базальтовым) утеплителем «Roсkwool Лайт Баттс»
                </p>
              </div>

              <div class="packages__col">
              </div>
              <div class="packages__col">

              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
            </div>
            <div class="packages__line">
              <div class="packages__col">
                <p class="packages__text">
                  Утепление стен 1-го и 2-го этажа: 200 мм плитным каменным (Базальтовым) утеплителем «Roсkwool Лайт Баттс»
                </p>
              </div>

              <div class="packages__col">
              </div>
              <div class="packages__col">

              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
            </div>
            <div class="packages__line">
              <div class="packages__col">
                <p class="packages__text">
                  Утепление потолка 2-го этажа: 200 мм плитным каменным (Базальтовым) утеплителем «Roсkwool Лайт Баттс»
                </p>
              </div>

              <div class="packages__col">
              </div>
              <div class="packages__col">

              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
            </div>
            <div class="packages__line packages__line--blue">
              <div class="packages__col">
                <p class="packages__text">
                  Пароизоляция внутренняя: Пароизоляция Технохаут с монтажной лентой, Все стыки пароизоляции проклеиваются!
                </p>
              </div>

              <div class="packages__col">
              </div>
              <div class="packages__col">

              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
            </div>
            <div class="packages__line packages__line--accent">
              <div class="packages__col">
                <p class="packages__subtitle">
                  Наружняя отделка
                </p>
              </div>
              <div class="packages__col">
              </div>
              <div class="packages__col">
              </div>
              <div class="packages__col">
              </div>
            </div>
            <div class="packages__line">
              <div class="packages__col">
                <p class="packages__text">
                  Контррейка: из сухого бруска 45х45 мм
                </p>
              </div>

              <div class="packages__col">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
            </div>
            <div class="packages__line packages__line--blue">
              <div class="packages__col">
                <p class="packages__text">
                  Отделка фасадов: имитация бруса камерной сушки, хвойных парод Сорт АВ
                </p>
              </div>

              <div class="packages__col">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
            </div>
            <div class="packages__line">
              <div class="packages__col">
                <p class="packages__text">
                  Отделка свесов крыши: сухая строганная доска с зазором
                </p>
              </div>

              <div class="packages__col">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
            </div>
            <div class="packages__line packages__line--blue">
              <div class="packages__col">
                <p class="packages__text">
                  Пол террас и крыльца: террасная доска
                </p>
              </div>

              <div class="packages__col">
              </div>
              <div class="packages__col">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
            </div>
            <div class="packages__line packages__line--accent">
              <div class="packages__col">
                <p class="packages__subtitle">
                  Внутренняя отделка
                </p>
              </div>
              <div class="packages__col">
              </div>
              <div class="packages__col">
              </div>
              <div class="packages__col">
              </div>
            </div>
            <div class="packages__line">
              <div class="packages__col">
                <p class="packages__text">
                  Контробрешётка: 20х40 мм на наружные стены
                </p>
              </div>

              <div class="packages__col">
              </div>
              <div class="packages__col">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
            </div>
            <div class="packages__line packages__line--blue">
              <div class="packages__col">
                <p class="packages__text">
                  Отделка стен: Евровагонка камерной сушки, хвойных парод класса АВ или  Гипсокартон 12,5 мм
                </p>
              </div>

              <div class="packages__col">
              </div>
              <div class="packages__col">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
            </div>
            <div class="packages__line">
              <div class="packages__col">
                <p class="packages__text">
                  Чистовой пол:  Влагостойкая ДСП QuickDeck  16мм по доске 25х100мм
                </p>
              </div>

              <div class="packages__col">
              </div>
              <div class="packages__col">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
            </div>
            <div class="packages__line packages__line--blue">
              <div class="packages__col">
                <p class="packages__text">
                  Межэтажная лестница: деревянная, с перилами и балясинами 
                </p>
              </div>

              <div class="packages__col">
              </div>
              <div class="packages__col">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
            </div>
            <div class="packages__line packages__line--accent">
              <div class="packages__col">
                <p class="packages__subtitle">
                  Окна, двери
                </p>
              </div>
              <div class="packages__col">
              </div>
              <div class="packages__col">
              </div>
              <div class="packages__col">
              </div>
            </div>
            <div class="packages__line">
              <div class="packages__col">
                <p class="packages__text">
                  Окна: КВЕ  энергосберегающие, профиль толщина 70 мм
                </p>
              </div>

              <div class="packages__col">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
            </div>
            <div class="packages__line packages__line--blue">
              <div class="packages__col">
                <p class="packages__text">
                  Входная дверь: металлическая, утепленная(производство Россия)
                </p>
              </div>

              <div class="packages__col">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
            </div>
            <div class="packages__line packages__line--accent">
              <div class="packages__col">
                <p class="packages__subtitle">
                  Дополнительная информация
                </p>
              </div>
              <div class="packages__col">
              </div>
              <div class="packages__col">
              </div>
              <div class="packages__col">
              </div>
            </div>
            <div class="packages__line">
              <div class="packages__col">
                <p class="packages__text">
                  Проектная документация             
                </p>
              </div>

              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
              <div class="packages__col">
                <img loading="lazy" src="img/packages-check.svg" class="image" width="20" height="20" alt="check">
              </div>
            </div>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="warranty">
            <div class="container">
              <p class="warranty__title">
                <span class="warranty__title warranty__title--accent">Компания «Строй Лидер 53»</span> предоставляет гарантию на
                строительные и отделочные работы согласно договору. В штате
                компании
                находятся специальные бригады, задача которых - обеспечение гарантийного обслуживания выполненных объектов.
              </p>
              <p class="warranty__mail">
              </p>
              <picture>
                <source srcset="img/warranty.webp" type="image/webp">
                <img loading="lazy" src="img/warranty.png" class="image" width="1520" height="400" alt="img">
              </picture>
              <div class="warranty__grid">
                <div class="warranty__item">
                  <img loading="lazy" src="img/warranty-1.svg" class="image warranty__svg" width="80" height="80" alt="svg">
                  <p class="warranty__subtitle">
                    70 лет на фундамент
                  </p>
                  <p class="warranty__text">
                    Если что-то выйдет из строя, наш мастер приедет и устранит неисправность бесплатно в течение 48 часов
                    (распространяется
                    на свайно-винтовой фундамент. На остальные типы гарантия 5 лет)
                  </p>
                </div>
                <div class="warranty__item">
                  <img loading="lazy" src="img/warranty-2.svg" class="image warranty__svg" width="80" height="80" alt="svg">
                  <p class="warranty__subtitle">
                    10 лет сервиса
                  </p>
                  <p class="warranty__text">
                    Сваи сделаны из нержавеющего состава. Мы уверены, что они прослужат не менее 70 лет, поэтому даём такую
                    гарантию.
                  </p>
                </div>
                <div class="warranty__item">
                  <img loading="lazy" src="img/warranty-3.svg" class="image warranty__svg" width="80" height="80" alt="svg">
                  <p class="warranty__subtitle">
                    Герметичность крыш
                  </p>

                </div>
                <div class="warranty__item">
                  <img loading="lazy" src="img/warranty-4.svg" class="image warranty__svg" width="80" height="80" alt="svg">
                  <p class="warranty__subtitle">
                    Целостность конструкции в целом
                  </p>

                </div>
                <div class="warranty__item">
                  <img loading="lazy" src="img/warranty-5.svg" class="image warranty__svg" width="80" height="80" alt="svg">
                  <p class="warranty__subtitle">
                    Целостность отдельных элементов конструкции
                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="packages__gallery">
            <picture>
              <source srcset="img/packages-1.webp" type="image/webp">
              <img loading="lazy" src="img/packages-1.png" class="image" width="491" height="362" alt="img">
            </picture>
            <picture>
              <source srcset="img/packages-1.webp" type="image/webp">
              <img loading="lazy" src="img/packages-1.png" class="image" width="491" height="362" alt="img">
            </picture>
            <picture>
              <source srcset="img/packages-1.webp" type="image/webp">
              <img loading="lazy" src="img/packages-1.png" class="image" width="491" height="362" alt="img">
            </picture>
            <picture>
              <source srcset="img/packages-1.webp" type="image/webp">
              <img loading="lazy" src="img/packages-1.png" class="image" width="491" height="362" alt="img">
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
