<section class="project-inner">
  <div class="container">
    <div class="project-inner__content">
      <div class="project-inner__wrapper">
        <div class="swiper project-inner__swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <picture>
                <source srcset="img/project-inner.webp" type="image/webp">
                <img loading="lazy" src="img/project-inner.png" class="image" width="877" height="477" alt="img">
              </picture>
              <span class="project-inner__special">Спецпредложение</span>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="img/project-inner.webp" type="image/webp">
                <img loading="lazy" src="img/project-inner.png" class="image" width="877" height="477" alt="img">
              </picture>
              <span class="project-inner__special">Спецпредложение</span>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="img/project-inner.webp" type="image/webp">
                <img loading="lazy" src="img/project-inner.png" class="image" width="877" height="477" alt="img">
              </picture>
              <span class="project-inner__special">Спецпредложение</span>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="img/project-inner.webp" type="image/webp">
                <img loading="lazy" src="img/project-inner.png" class="image" width="877" height="477" alt="img">
              </picture>
              <span class="project-inner__special">Спецпредложение</span>
            </div>
          </div>
        </div>
        <div class="swiper project-inner__thumbs">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <picture>
                <source srcset="img/project-inner-1.webp" type="image/webp">
                <img loading="lazy" src="img/project-inner-1.png" class="image" width="108" height="84" alt="img">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="img/project-inner-1.webp" type="image/webp">
                <img loading="lazy" src="img/project-inner-1.png" class="image" width="108" height="84" alt="img">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="img/project-inner-1.webp" type="image/webp">
                <img loading="lazy" src="img/project-inner-1.png" class="image" width="108" height="84" alt="img">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="img/project-inner-1.webp" type="image/webp">
                <img loading="lazy" src="img/project-inner-1.png" class="image" width="108" height="84" alt="img">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="img/project-inner-1.webp" type="image/webp">
                <img loading="lazy" src="img/project-inner-1.png" class="image" width="108" height="84" alt="img">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="img/project-inner-1.webp" type="image/webp">
                <img loading="lazy" src="img/project-inner-1.png" class="image" width="108" height="84" alt="img">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source srcset="img/project-inner-1.webp" type="image/webp">
                <img loading="lazy" src="img/project-inner-1.png" class="image" width="108" height="84" alt="img">
              </picture>
            </div>
          </div>
        </div>
      </div>

      <div class="project-inner__inner">
        <p class="project-inner__name">
          Каркасный дом 12х15 ДБ-12
        </p>
        <ul class="list-reset project-inner__list">
          <li class="project-inner__item">
            Площадь: 141м2
          </li>
          <li class="project-inner__item">
            Размеры: 12х15м
          </li>
          <li class="project-inner__item">
            Этажность: 3
          </li>
          <li class="project-inner__item">
            Спален: 3
          </li>
          <li class="project-inner__item">
            Срок: 20 дней
          </li>
        </ul>
        <div class="project-inner__box">
          <div class="project-inner__prices">
            <p class="project-inner__sale">от 6 474 000₽</p>
            <p class="project-inner__price">
              от 5 474 000₽
            </p>
          </div>
          <a href="#" class="project-inner__mortgage">
            <p class="project-inner__descr">
              В ипотеку <br>
              <span class="project-inner__descr project-inner__descr--accent">от 39 450 ₽/мес</span>
            </p>
          </a>
        </div>
        <div class="project-inner__btns">
          <button class="btn-reset btn project-inner__btn" data-graph-path="modal2">Расчёт</button>
          <a href="#" class="project-inner__link">Отправить проект</a>
        </div>
      </div>
    </div>
  </div>
</section>
