<div class="quest">
  <div class="container">
    <div class="quest__wrapper">
      <div class="quest__content">
        <div class="quest__item">
          <div class="quest__inner">
            <p class="quest__name">
              Могу ли я предложить свои варианты материалов?
            </p>
            <button class="btn-reset quest__btn "></button>
          </div>
          <p class="quest__text">
            Используем экологически чистые материалы. Так, например, ставим кварцевый утеплитель Кнауф вместо
            СИП-панелей, которые
            содержат фенольные смолы и аммиачный газ. Плюс благодаря такому утеплению дом дышит и в нем не становится
            душно.
          </p>
        </div>
        <div class="quest__item">
          <div class="quest__inner">
            <p class="quest__name">
              Могу ли я предложить свои варианты материалов?
            </p>
            <button class="btn-reset quest__btn "></button>
          </div>
          <p class="quest__text">
            Используем экологически чистые материалы. Так, например, ставим кварцевый утеплитель Кнауф вместо
            СИП-панелей,
            которые
            содержат фенольные смолы и аммиачный газ. Плюс благодаря такому утеплению дом дышит и в нем не становится
            душно.
          </p>
        </div>
        <div class="quest__item">
          <div class="quest__inner">
            <p class="quest__name">
              Могу ли я предложить свои варианты материалов?
            </p>
            <button class="btn-reset quest__btn "></button>
          </div>
          <p class="quest__text">
            Используем экологически чистые материалы. Так, например, ставим кварцевый утеплитель Кнауф вместо
            СИП-панелей,
            которые
            содержат фенольные смолы и аммиачный газ. Плюс благодаря такому утеплению дом дышит и в нем не становится
            душно.
          </p>
        </div>
        <div class="quest__item">
          <div class="quest__inner">
            <p class="quest__name">
              Могу ли я предложить свои варианты материалов?
            </p>
            <button class="btn-reset quest__btn "></button>
          </div>
          <p class="quest__text">
            Используем экологически чистые материалы. Так, например, ставим кварцевый утеплитель Кнауф вместо
            СИП-панелей,
            которые
            содержат фенольные смолы и аммиачный газ. Плюс благодаря такому утеплению дом дышит и в нем не становится
            душно.
          </p>
        </div>
        <div class="quest__item">
          <div class="quest__inner">
            <p class="quest__name">
              Могу ли я предложить свои варианты материалов?
            </p>
            <button class="btn-reset quest__btn "></button>
          </div>
          <p class="quest__text">
            Используем экологически чистые материалы. Так, например, ставим кварцевый утеплитель Кнауф вместо
            СИП-панелей,
            которые
            содержат фенольные смолы и аммиачный газ. Плюс благодаря такому утеплению дом дышит и в нем не становится
            душно.
          </p>
        </div>
        <div class="quest__item">
          <div class="quest__inner">
            <p class="quest__name">
              Могу ли я предложить свои варианты материалов?
            </p>
            <button class="btn-reset quest__btn "></button>
          </div>
          <p class="quest__text">
            Используем экологически чистые материалы. Так, например, ставим кварцевый утеплитель Кнауф вместо
            СИП-панелей,
            которые
            содержат фенольные смолы и аммиачный газ. Плюс благодаря такому утеплению дом дышит и в нем не становится
            душно.
          </p>
        </div>
      </div>
      <div class="quest__aside">
        <p class="quest__subtitle">Остались вопросы?</p>
        <div class="quest__contacts">
          <p class="quest__descr">Позвоните по номеру:</p>
          <a href="#" class="quest__phone">8 (911) 600-00-51</a>
          <p class="quest__descr">Или напишите в мессенджеры:</p>
          <div class="quest__socials">
            <a href="#" class="quest__social">
              <img loading="lazy" src="img/tel.svg" class="image" width="30" height="30" alt="svg">
            </a>
            <a href="#" class="quest__social">
              <img loading="lazy" src="img/wat.svg" class="image" width="30" height="30" alt="svg">
            </a>
            <a href="#" class="quest__social">
              <img loading="lazy" src="img/viber.svg" class="image" width="30" height="30" alt="svg">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
