<section class="quiz">
  <div class="container">
    <h2 class="quiz__title">
      <span class="quiz__title quiz__title--accent">Ответьте на 7 вопросов</span> и получите предварительную смету,
      сроки строительства и скидку 4%
    </h2>
    <div class="quiz__block">
      <span class="quiz__descr">Если сомневаетесь, переходите к следующему вопросу</span>
      <div class="quiz__count">
        <span class="quiz__count quiz__count--active">1</span>\7
      </div>
    </div>
    <form action="#" class="quiz__form">
      <div class="quiz__item quiz__item--active">
        <p class="quiz__name">Сколько этажей будет в Вашем доме?</p>
        <div class="quiz__wrapper">
          <div class="quiz__box">
            <picture>
              <source srcset="img/quiz-1.webp" type="image/webp">
              <img loading="lazy" src="img/quiz-1.png" class="image" width="233" height="180" alt="img">
            </picture>
            <div class="quiz__inner">
              <input type="radio" name="Этажей" value="1 этаж" class="input-reset quiz__radio">
              <label class="quiz__label">1 этаж</label>
            </div>
          </div>
          <div class="quiz__box">
            <picture>
              <source srcset="img/quiz-2.webp" type="image/webp">
              <img loading="lazy" src="img/quiz-2.png" class="image" width="233" height="180" alt="img">
            </picture>
            <div class="quiz__inner">
              <input type="radio" name="Этажей" value="1 этаж + мансарда" class="input-reset quiz__radio">
              <label class="quiz__label">1 этаж + мансарда</label>
            </div>
          </div>
          <div class="quiz__box">
            <picture>
              <source srcset="img/quiz-3.webp" type="image/webp">
              <img loading="lazy" src="img/quiz-3.png" class="image" width="233" height="180" alt="img">
            </picture>
            <div class="quiz__inner">
              <input type="radio" name="Этажей" value="2 этажа" class="input-reset quiz__radio">
              <label class="quiz__label">2 этажа</label>
            </div>
          </div>


        </div>
        <div class="quiz__nav">
          <button class="btn-reset btn quiz__next" type="button">Далее</button>
        </div>
      </div>

      <div class="quiz__item ">
        <p class="quiz__name">Какой площади будет ваш дом?</p>

        <div class="quiz__box">

          <div class="quiz__inner">
            <input type="radio" name="Этажей" value="1 этаж" id="1 этаж" class="input-reset quiz__radio">
            <label class="quiz__label" for="1 этаж">1 этаж</label>
          </div>
        </div>
        <div class="quiz__box">

          <div class="quiz__inner">
            <input type="radio" name="Этажей" value="1 этаж + мансарда" class="input-reset quiz__radio">
            <label class="quiz__label">1 этаж + мансарда</label>
          </div>
        </div>
        <div class="quiz__box">

          <div class="quiz__inner">
            <input type="radio" name="Этажей" value="2 этажа" class="input-reset quiz__radio">
            <label class="quiz__label">2 этажа</label>
          </div>
        </div>
        <div class="quiz__box">

          <div class="quiz__inner">
            <input type="radio" name="Этажей" value="2 этажа" class="input-reset quiz__radio">
            <label class="quiz__label">2 этажа</label>
          </div>
        </div>
        <div class="quiz__box">

          <div class="quiz__inner">
            <input type="radio" name="Этажей" value="2 этажа" class="input-reset quiz__radio">
            <label class="quiz__label">2 этажа</label>
          </div>
        </div>



        <div class="quiz__nav">
          <button class="btn-reset btn quiz__prev" type="button">Назад</button>
          <button class="btn-reset btn quiz__next" type="button">Далее</button>
        </div>
      </div>
      <div class="quiz__item ">
        <p class="quiz__name">Есть ли у вас участок?</p>

        <div class="quiz__box">

          <div class="quiz__inner">
            <input type="radio" name="Есть ли у вас участок?" value="1 этаж" id="1 этаж"
              class="input-reset quiz__radio">
            <label class="quiz__label">Да</label>
          </div>
        </div>
        <div class="quiz__box">

          <div class="quiz__inner">
            <input type="radio" name="Есть ли у вас участок?" value="1 этаж + мансарда" class="input-reset quiz__radio">
            <label class="quiz__label">Нет</label>
          </div>
        </div>




        <div class="quiz__nav">
          <button class="btn-reset btn quiz__prev" type="button">Назад</button>
          <button class="btn-reset btn quiz__next" type="button">Далее</button>
        </div>
      </div>
      <div class="quiz__item">
        <p class="quiz__name"></p>
        <div class="quiz__wrapper">
          <div class="quiz__box">
            <picture>
              <source srcset="img/quiz-4.webp" type="image/webp">
              <img loading="lazy" src="img/quiz-4.png" class="image" width="233" height="180" alt="img">
            </picture>
            <div class="quiz__inner">
              <input type="radio" name="Тип кровли" value="Профнастил" class="input-reset quiz__radio">
              <label class="quiz__label">Профнастил</label>
            </div>
          </div>
          <div class="quiz__box">
            <picture>
              <source srcset="img/quiz-5.webp" type="image/webp">
              <img loading="lazy" src="img/quiz-5.png" class="image" width="233" height="180" alt="img">
            </picture>
            <div class="quiz__inner">
              <input type="radio" name="Тип кровли" value="Металлочерепица" class="input-reset quiz__radio">
              <label class="quiz__label">Металлочерепица</label>
            </div>
          </div>
          <div class="quiz__box">
            <picture>
              <source srcset="img/quiz-6.webp" type="image/webp">
              <img loading="lazy" src="img/quiz-6.png" class="image" width="233" height="180" alt="img">
            </picture>
            <div class="quiz__inner">
              <input type="radio" name="Тип кровли" value="Мягкая кровля" class="input-reset quiz__radio">
              <label class="quiz__label">Мягкая кровля</label>
            </div>
          </div>
          <div class="quiz__box">
            <picture>
              <source srcset="img/quiz-7.webp" type="image/webp">
              <img loading="lazy" src="img/quiz-7.png" class="image" width="233" height="180" alt="img">
            </picture>
            <div class="quiz__inner">
              <input type="radio" name="Тип кровли" value="Ондулин" class="input-reset quiz__radio">
              <label class="quiz__label">Ондулин</label>
            </div>
          </div>
          <div class="quiz__box">
            <picture>
              <source srcset="img/quiz-8.webp" type="image/webp">
              <img loading="lazy" src="img/quiz-8.png" class="image" width="233" height="180" alt="img">
            </picture>
            <div class="quiz__inner">
              <input type="radio" name="Тип кровли" value="Нужна консультация" class="input-reset quiz__radio">
              <label class="quiz__label">Нужна консультация</label>
            </div>
          </div>
        </div>
        <div class="quiz__nav">
          <button class="btn-reset btn quiz__prev" type="button">Назад</button>
          <button class="btn-reset btn quiz__next" type="button">Далее</button>
        </div>
      </div>
      <div class="quiz__item ">
        <p class="quiz__name">Куда отправить расчет стоимости дома по вашим параметрам?</p>

        <div class="quiz__box">

          <div class="quiz__inner">
            <input type="radio" name="Куда отправить" value="СМС" class="input-reset quiz__radio">
            <label class="quiz__label">СМС</label>
          </div>
        </div>
        <div class="quiz__box">

          <div class="quiz__inner">
            <input type="radio" name="Куда отправить" value="WhatsApp" class="input-reset quiz__radio">
            <label class="quiz__label">WhatsApp</label>
          </div>
        </div>
        <div class="quiz__box">

          <div class="quiz__inner">
            <input type="radio" name="Куда отправить"
              value="Бесплатная консультация по + узнать подробнее об акциях и спецпредложениях"
              class="input-reset quiz__radio">
            <label class="quiz__label">Бесплатная консультация по +узнать подробнее об акциях и спецпредложениях</label>
          </div>
        </div>



        <div class="quiz__nav">
          <button class="btn-reset btn quiz__prev" type="button">Назад</button>
          <button class="btn-reset btn quiz__next" type="button">Далее</button>
        </div>
      </div>
      <div class="quiz__item ">
        <p class="quiz__name">Куда отправить расчет стоимости дома по вашим параметрам?</p>

        <div class="quiz__box">

          <div class="quiz__inner">
            <input type="radio" name="Куда отправить" value="СМС" class="input-reset quiz__radio">
            <label class="quiz__label">СМС</label>
          </div>
        </div>
        <div class="quiz__box">

          <div class="quiz__inner">
            <input type="radio" name="Куда отправить" value="WhatsApp" class="input-reset quiz__radio">
            <label class="quiz__label">WhatsApp</label>
          </div>
        </div>
        <div class="quiz__box">

          <div class="quiz__inner">
            <input type="radio" name="Куда отправить"
              value="Бесплатная консультация по + узнать подробнее об акциях и спецпредложениях"
              class="input-reset quiz__radio">
            <label class="quiz__label">Бесплатная консультация по +узнать подробнее об акциях и спецпредложениях</label>
          </div>
        </div>



        <div class="quiz__nav">
          <button class="btn-reset btn quiz__prev" type="button">Назад</button>
          <button class="btn-reset btn quiz__next" type="button">Далее</button>
        </div>
      </div>
      <div class="quiz__item ">
        <p class="quiz__name">Куда отправить расчет стоимости дома по вашим параметрам?</p>

        <div class="quiz__box">

          <div class="quiz__inner">
            <input type="radio" name="Куда отправить" value="СМС" class="input-reset quiz__radio">
            <label class="quiz__label">СМС</label>
          </div>
        </div>
        <div class="quiz__box">

          <div class="quiz__inner">
            <input type="radio" name="Куда отправить" value="WhatsApp" class="input-reset quiz__radio">
            <label class="quiz__label">WhatsApp</label>
          </div>
        </div>
        <div class="quiz__box">

          <div class="quiz__inner">
            <input type="radio" name="Куда отправить"
              value="Бесплатная консультация по + узнать подробнее об акциях и спецпредложениях"
              class="input-reset quiz__radio">
            <label class="quiz__label">Бесплатная консультация по +узнать подробнее об акциях и спецпредложениях</label>
          </div>
        </div>



        <div class="quiz__nav">
          <button class="btn-reset btn quiz__prev" type="button">Назад</button>
          <button class="btn-reset btn quiz__next" type="button">Далее</button>
        </div>
      </div>
      <div class="quiz__item ">
        <p class="quiz__text">Выполним бесплатный расчёт</p>
        <p class="quiz__text">Предложим лучшую цену за 2 дня</p>
        <div class="quiz__name-two">
          <input type="text" name="Имя" class="input-reset quiz__input" placeholder="Ваше имя">
        </div>
        <div class="quiz__phone">
          <input type="tel" name="Телефон" class="input-reset quiz__input" placeholder="Ваш телефон*">
        </div>
        <div class="quiz__nav">
          <button class="btn-reset btn quiz__prev" type="button">Назад</button>
          <button class="btn-reset btn quiz__next">Получить расчет</button>
        </div>




      </div>


    </form>
  </div>
</section>
