<section class="section-stocks">
  <div class="container">
    <div class="section-stocks__wrapper">
      <button class="btn-reset section-stocks__arrow-left"></button>
      <button class="btn-reset section-stocks__arrow-right"></button>
      <div class="swiper section-stocks__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source srcset="img/section-stocks-1.webp" type="image/webp">
              <img loading="lazy" src="img/section-stocks-1.png" class="image" width="1520" height="600" alt="stocks">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="img/section-stocks-1.webp" type="image/webp">
              <img loading="lazy" src="img/section-stocks-1.png" class="image" width="1520" height="600" alt="stocks">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="img/section-stocks-1.webp" type="image/webp">
              <img loading="lazy" src="img/section-stocks-1.png" class="image" width="1520" height="600" alt="stocks">
            </picture>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
