<section class="section-hit">
  <div class="container">
    <div class="section-hit__wrapper-two">
      <button class="btn-reset section-hit__arrow-left"></button>
      <button class="btn-reset section-hit__arrow-right"></button>
      <div class="swiper section-hit__thumbs">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="section-hit__block">
              <span class="section-hit__subspecial">
                Спецпредложение
              </span>
              <picture>
                <source srcset="img/section-hit.webp" type="image/webp">
                <img loading="lazy" src="img/section-hit.png" class="image" width="362" height="210" alt="img">
              </picture>
              <div class="section-hit__inner">
                <p class="section-hit__subname">
                  Дом из бруса 12х15 ДБ-12
                </p>
                <p class="section-hit__subprice">
                  от 5 474 000 ₽
                </p>
                <ul class="list-reset section-hit__sublist">
                  <li class="section-hit__subitem">
                    Площадь: 141м2
                  </li>
                  <li class="section-hit__subitem">
                    Размеры: 12х15м
                  </li>
                  <li class="section-hit__subitem">
                    Этажность: 3
                  </li>
                  <li class="section-hit__subitem">
                    Спален: 3
                  </li>
                </ul>
              </div>

            </div>
          </div>
          <div class="swiper-slide">
            <div class="section-hit__block">
              <span class="section-hit__subspecial">
                Спецпредложение
              </span>
              <picture>
                <source srcset="img/section-hit.webp" type="image/webp">
                <img loading="lazy" src="img/section-hit.png" class="image" width="362" height="210" alt="img">
              </picture>
              <div class="section-hit__inner">
                <p class="section-hit__subname">
                  Дом из бруса 12х15 ДБ-12
                </p>
                <p class="section-hit__subprice">
                  от 5 474 000 ₽
                </p>
                <ul class="list-reset section-hit__sublist">
                  <li class="section-hit__subitem">
                    Площадь: 141м2
                  </li>
                  <li class="section-hit__subitem">
                    Размеры: 12х15м
                  </li>
                  <li class="section-hit__subitem">
                    Этажность: 3
                  </li>
                  <li class="section-hit__subitem">
                    Спален: 3
                  </li>
                </ul>
              </div>

            </div>
          </div>
          <div class="swiper-slide">
            <div class="section-hit__block">
              <span class="section-hit__subspecial">
                Спецпредложение
              </span>
              <picture>
                <source srcset="img/section-hit.webp" type="image/webp">
                <img loading="lazy" src="img/section-hit.png" class="image" width="362" height="210" alt="img">
              </picture>
              <div class="section-hit__inner">
                <p class="section-hit__subname">
                  Дом из бруса 12х15 ДБ-12
                </p>
                <p class="section-hit__subprice">
                  от 5 474 000 ₽
                </p>
                <ul class="list-reset section-hit__sublist">
                  <li class="section-hit__subitem">
                    Площадь: 141м2
                  </li>
                  <li class="section-hit__subitem">
                    Размеры: 12х15м
                  </li>
                  <li class="section-hit__subitem">
                    Этажность: 3
                  </li>
                  <li class="section-hit__subitem">
                    Спален: 3
                  </li>
                </ul>
              </div>

            </div>
          </div>
          <div class="swiper-slide">
            <div class="section-hit__block">
              <span class="section-hit__subspecial">
                Спецпредложение
              </span>
              <picture>
                <source srcset="img/section-hit.webp" type="image/webp">
                <img loading="lazy" src="img/section-hit.png" class="image" width="362" height="210" alt="img">
              </picture>
              <div class="section-hit__inner">
                <p class="section-hit__subname">
                  Дом из бруса 12х15 ДБ-12
                </p>
                <p class="section-hit__subprice">
                  от 5 474 000 ₽
                </p>
                <ul class="list-reset section-hit__sublist">
                  <li class="section-hit__subitem">
                    Площадь: 141м2
                  </li>
                  <li class="section-hit__subitem">
                    Размеры: 12х15м
                  </li>
                  <li class="section-hit__subitem">
                    Этажность: 3
                  </li>
                  <li class="section-hit__subitem">
                    Спален: 3
                  </li>
                </ul>
              </div>

            </div>
          </div>
          <div class="swiper-slide">
            <div class="section-hit__block">
              <span class="section-hit__subspecial">
                Спецпредложение
              </span>
              <picture>
                <source srcset="img/section-hit.webp" type="image/webp">
                <img loading="lazy" src="img/section-hit.png" class="image" width="362" height="210" alt="img">
              </picture>
              <div class="section-hit__inner">
                <p class="section-hit__subname">
                  Дом из бруса 12х15 ДБ-12
                </p>
                <p class="section-hit__subprice">
                  от 5 474 000 ₽
                </p>
                <ul class="list-reset section-hit__sublist">
                  <li class="section-hit__subitem">
                    Площадь: 141м2
                  </li>
                  <li class="section-hit__subitem">
                    Размеры: 12х15м
                  </li>
                  <li class="section-hit__subitem">
                    Этажность: 3
                  </li>
                  <li class="section-hit__subitem">
                    Спален: 3
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
