<section class="stocks">
  <div class="container">
    <div class="stocks__content">
      <div class="stocks__item">
        <picture>
          <source srcset="img/stocks-1.webp" type="image/webp">
          <img loading="lazy" src="img/stocks-1.png" class="image" width="748" height="362" alt="img">
        </picture>
        <div class="stocks__inner">
          <p class="stocks__name">
            Название акции
          </p>
          <button class="btn-reset btn stocks__btn" data-graph-path="modal">Воспользоваться акцией</button>
        </div>

      </div>
      <div class="stocks__item">
        <picture>
          <source srcset="img/stocks-1.webp" type="image/webp">
          <img loading="lazy" src="img/stocks-1.png" class="image" width="748" height="362" alt="img">
        </picture>
        <div class="stocks__inner">
          <p class="stocks__name">
            Название акции
          </p>
          <button class="btn-reset btn stocks__btn" data-graph-path="modal">Воспользоваться акцией</button>
        </div>

      </div>
      <div class="stocks__item">
        <picture>
          <source srcset="img/stocks-1.webp" type="image/webp">
          <img loading="lazy" src="img/stocks-1.png" class="image" width="748" height="362" alt="img">
        </picture>
        <div class="stocks__inner">
          <p class="stocks__name">
            Название акции
          </p>
          <button class="btn-reset btn stocks__btn" data-graph-path="modal">Воспользоваться акцией</button>
        </div>

      </div>
    </div>
  </div>
</section>
