<div class="warranty">
  <div class="container">
    <p class="warranty__title">
      <span class="warranty__title warranty__title--accent">Компания «Строй Лидер 53»</span> предоставляет гарантию на
      строительные и отделочные работы согласно договору. В штате
      компании
      находятся специальные бригады, задача которых - обеспечение гарантийного обслуживания выполненных объектов.
    </p>
    <p class="warranty__mail">
    </p>
    <picture>
      <source srcset="img/warranty.webp" type="image/webp">
      <img loading="lazy" src="img/warranty.png" class="image" width="1520" height="400" alt="img">
    </picture>
    <div class="warranty__grid">
      <div class="warranty__item">
        <img loading="lazy" src="img/warranty-1.svg" class="image warranty__svg" width="80" height="80" alt="svg">
        <p class="warranty__subtitle">
          70 лет на фундамент
        </p>
        <p class="warranty__text">
          Если что-то выйдет из строя, наш мастер приедет и устранит неисправность бесплатно в течение 48 часов
          (распространяется
          на свайно-винтовой фундамент. На остальные типы гарантия 5 лет)
        </p>
      </div>
      <div class="warranty__item">
        <img loading="lazy" src="img/warranty-2.svg" class="image warranty__svg" width="80" height="80" alt="svg">
        <p class="warranty__subtitle">
          10 лет сервиса
        </p>
        <p class="warranty__text">
          Сваи сделаны из нержавеющего состава. Мы уверены, что они прослужат не менее 70 лет, поэтому даём такую гарантию.
        </p>
      </div>
      <div class="warranty__item">
        <img loading="lazy" src="img/warranty-3.svg" class="image warranty__svg" width="80" height="80" alt="svg">
        <p class="warranty__subtitle">
          Герметичность крыш
        </p>

      </div>
      <div class="warranty__item">
        <img loading="lazy" src="img/warranty-4.svg" class="image warranty__svg" width="80" height="80" alt="svg">
        <p class="warranty__subtitle">
          Целостность конструкции в целом
        </p>

      </div>
      <div class="warranty__item">
        <img loading="lazy" src="img/warranty-5.svg" class="image warranty__svg" width="80" height="80" alt="svg">
        <p class="warranty__subtitle">
          Целостность отдельных элементов конструкции
        </p>

      </div>
    </div>
  </div>
</div>
