// colors
:root {
  // base
  --font-family: "Nunito Sans", sans-serif;
  --second-family: "Nunito", sans-serif;
  --third-family: "Unbounded", sans-serif;
  --font3: "Arial", sans-serif;
  --font4: "Cera CY", sans-serif;
  --font5: "Inter", sans-serif;
  --font6: "Gilroy", sans-serif;
  --font7: "Roboto", sans-serif;
  --content-width: 1520px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white: #fff;
  --white-50: rgba(255, 255, 255, 0.5);
  --header: rgba(255, 255, 255, 0.7);
  --gray-04: #f0f3f8;
  --gray-1o: #e9e9f2;
  --gray-2o: #e1e1e1;
  --gray---3o: #b3b3b3;
  --gray---4o: #999;
  --gray---5o: #808080;
  --gray---6o: #666;
  --gray---7o: #4d4d4d;
  --gray---8o: #333;
  --gray---9o: #1a1a1a;
  --gray-10o: #1e1e1e;
  --primary---04: #fef3e9;
  --primary---1o: #fbdabc;
  --primary---2o: #facea6;
  --primary-3o: #f7b579;
  --primary---4o: #f59d4d;
  --primary-5o: #f28420;
  --primary---6o: #c26a1a;
  --primary---7o: #914f13;
  --primary---8o: #61350d;
  --primary---9o: #301a06;
  --primary-10o: #180d03;
  --secondary-04: #f6fef9;
  --secondary-1o: #ecfdf3;
  --secondary-2o: #ecfdf3;
  --secondary-3o: #a6f4c5;
  --secondary-4o: #6ce9a6;
  --secondary-5o: #32d583;
  --secondary-6o: #12b76a;
  --secondary-7o: #039855;
  --secondary-8o: #027a48;
  --secondary-9o: #05603a;
  --secondary-10o: #054f31;
  --error---04: #ffeff1;
  --error-10: #fccece;
  --error-20: #fbaeae;
  --error---30: #f88585;
  --error---40: #f65d5d;
  --error---5o: #f20c0c;
  --error---60: #ca0a0a;
  --error---70: #a10808;
  --error---80: #790606;
  --error---90: #510404;
  --error-100: #300202;
  --success-4: #f6fef9;
  --success---1o: #ecfdf3;
  --success---2o: #ecfdf3;
  --success---3o: #a6f4c5;
  --success---4o: #6ce9a6;
  --success---5o: #32d583;
  --success-6o: #12b76a;
  --success---7o: #039855;
  --success---8o: #027a48;
  --success---9o: #05603a;
  --success-10o: #054f31;
  --warning-4: #fffcf5;
  --warning---1o: #fffaeb;
  --warning---2o: #fef0c7;
  --warning---3o: #fedf89;
  --warning---4o: #fec84b;
  --warning---5o: #ffa800;
  --warning---6o: #f79009;
  --warning---7o: #dc6803;
  --warning---8o: #b54708;
  --warning---9o: #93370d;
  --warning-10o: #7a2e0e;
  --white: #fff;
}
